<div class="col-sm-3 col-md-2 sidebar">
    <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="branches" data-node-id="tree_id" data-node-label="tree_name"
        data-node-children="departments">
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">User Accounts</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="newUser()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm" ng-click="showUserGroups()"><i class="fa fa-users" aria-hidden="true"></i> User Group</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="txtSearch.text" placeholder="Search..." ng-keypress="($event.which === 13)?searchData():0"
                    ng-change="(txtSearch.length < 1)?searchData():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchData()">Search</button>
                    </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
            <tr ng-repeat="row in $data" ng-dblclick="setSelectedItem(row)" ng-class="{selected: row.selected}">
                <td data-title="'User ID'" class="text-center center-td">
                    {{row.UserID}}
                </td>
                <td data-title="'Employee'" class="text-center center-td">
                    {{row.FullName}}
                </td>
                <td data-title="'Username'" class="text-center center-td">
                    <strong class="text-danger">{{row.UserName}}</strong>
                </td>
                <td data-title="'User Group'" class="text-center center-td">
                    <strong class="text-primary">{{row.UserGroup}}</strong>
                </td>
                <td data-title="'Date Created'" class="text-center center-td">
                    {{row.DateCreated}}
                </td>
                <td data-title="''" width="12%">
                    <button class="btn btn-default btn-sm" uib-tooltip="Set User Group" ng-click="setUserGroup(row.UUID)"><i class="fa fa-users" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-sm" uib-tooltip="Privilege" ui-sref="main.userprivilege({user_id:row.UUID})"><i class="fa fa-list" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateUser(row)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteUser(row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>