<div class="modal-header">
    <h3 class="modal-title" id="modal-title">User Groups</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <button class="btn btn-default btn-sm" type="button" ng-click="addUserGroup()"><i class="fa fa-file-o"></i> New Entry</button>
        <button class="btn btn-success btn-sm" type="button" ng-click="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="txtCode">Group Name</label>
                        <input type="text" class="form-control input-sm" id="txtClassCode" placeholder="Name" ng-model="group.GroupName"
                            ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtDescription">Group Description</label>
                        <textarea class="form-control input-sm" col="3" id="txtClassShort" placeholder="Description" ng-model="group.GroupDesc"
                            ng-disabled="IsDisable"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()" ng-disabled="IsDisable">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" ng-table="tableParams">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td style="width:100" data-title="'Group Name'" class="text-center center-td">
                            {{row.GroupName}}
                        </td>
                        <td style="width:100" data-title="'Description'" class="text-center center-td">
                            {{row.GroupDesc}}
                        </td>
                        <td style="width:150px; " data-title="'Actions'">
                            <button class="btn btn-default btn-sm" uib-tooltip="Privilege" ng-click="previewGroups(row.UUID)"><i class="fa fa-list" aria-hidden="true"></i></button>
                            <button class="btn btn-default btn-sm" ng-click="updateUserGroup(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteUserGroup(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>