<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtSSSEmployee">SSS Employer</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtSSSEmployee" ng-model="setup.SSS_ER_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('sss_ee')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="txtSSSEmployeer">SSS Employee</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtSSSEmployeer" ng-model="setup.SSS_EE_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('sss_er')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="txtSSSEC">SSS EC</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtSSSEC" ng-model="setup.SSS_EC_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('sss_ec')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtPHICEE">PHIC Employer</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtPHICEE" ng-model="setup.PHIC_ER_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('phic_er')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="txtPHICER">PHIC Employee</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtPHICER" ng-model="setup.PHIC_EE_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('phic_ee')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtLoveER">HDMF Employer</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtLoveER" ng-model="setup.PAGIBIG_ER_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('hdmf_er')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="txtLoveEE">HDMF Employee</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtLoveEE" ng-model="setup.PAGIBIG_EE_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('hdmf_ee')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtWTax">Withholding Tax</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtWTax" ng-model="setup.Withholding_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('wtax')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt1stFrom">Absent</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="setup.Absent_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('absent')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt1stFrom">Late/Tardiness</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="setup.Tardiness_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('tardy')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="cboOtherDeduction">Other Deduction</label>
                <select class="form-control input-sm" id="cboOtherDeduction" name="cboOtherDeduction" ng-model="setup.OtherDeduction" ng-options="item.GroupID as item.GroupName for item in accountgroups"
                    ng-disabled="IsDisable"></select>
            </div>
        </div>
    </div>
</div>