<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtBasicSalary">Basic Pay</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtBasicSalary" ng-model="setup.BasicPay_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('basic_pay')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt13thMonth">13th Month Pay</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txt13thMonth" ng-model="setup._13thMonthPay_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('13th')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtOvertime">Overtime</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="txtOvertime" ng-model="setup.Overtime_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('overtime')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="txtOvertimeRate">Rate</label>
                <input type="text" class="form-control input-sm" id="txtOvertimeRate" placeholder="0" ng-model="setup.OvertimeRate" required/>
            </div>
            <div class="form-group col-md-2">
                <label for="txtOvertimeExcess">Excess</label>
                <input type="text" class="form-control input-sm" id="txtOvertimeExcess" placeholder="0" ng-model="setup.OvertimeExcess" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt1stFrom">Holiday</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="setup.Holiday_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('holiday')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="txtHolidayRate">Rate</label>
                <input type="text" class="form-control input-sm" id="txtHolidayRate" placeholder="0" ng-model="setup.HolidayRate" required/>
            </div>
            <div class="form-group col-md-2">
                <label for="txtHolidayExcess">Excess</label>
                <input type="text" class="form-control input-sm" id="txtHolidayExcess" placeholder="0" ng-model="setup.HolidayExcess" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt1stFrom">Sunday</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="setup.Sunday_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('sunday')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="txtSundayRate">Rate</label>
                <input type="text" class="form-control input-sm" id="txtSundayRate" placeholder="0" ng-model="setup.txtSundayRate" required/>
            </div>
            <div class="form-group col-md-2">
                <label for="txtSundayExcess">Excess</label>
                <input type="text" class="form-control input-sm" id="txtSundayExcess" placeholder="0" ng-model="setup.SundayExcess" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txt1stFrom">Special Holiday</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="setup.SpecialHoliday_Acct.AcctName" placeholder="Select Account">
                    <span class="input-group-btn">
                        <a class="btn btn-default" ng-click="frmAccountPicker('splholiday')"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="txtSpecialRate">Rate</label>
                <input type="text" class="form-control input-sm" id="txtSpecialRate" placeholder="0" ng-model="setup.SpecialHolidayRate"
                    required/>
            </div>
            <div class="form-group col-md-2">
                <label for="txtSpecialExcess">Excess</label>
                <input type="text" class="form-control input-sm" id="txtSpecialExcess" placeholder="0" ng-model="setup.SpecialHolidayExcess"
                    required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="cboOtherIncome">Other Income</label>
                <select class="form-control input-sm" id="cboOtherIncome" name="cboOtherIncome" ng-model="setup.OtherIncome" ng-options="item.GroupID as item.GroupName for item in accountgroups"
                    ng-disabled="IsDisable"></select>
            </div>
        </div>
    </div>
</div>