<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label for="cboSSSFrequent">SSS Computation</label>
                <select class="form-control input-sm" id="cboSSSFrequent" name="cboSSSFrequent" ng-model="setup.SSSComputation" ng-options="item.EntryID as item.PaymentTerm for item in paymenttypes"
                    ng-disabled="IsDisable"></select>
            </div>
            <div class="form-group col-md-2">
                <label for="txtSSSDivisor" class="text-danger">[ Divisor ]</label>
                <input type="text" class="form-control input-sm" id="txtSSSDivisor" placeholder="0" ng-model="setup.SSSDivisor" required/>
            </div>
            <div class="form-group col-md-4">
                <label class="text-danger">[ Applied ]</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="setup.IsSSSEE" ng-true-value="1" ng-false-value="0" > EE
                    </label>
                    <label>
                        <input type="checkbox" ng-model="setup.IsSSSER" ng-true-value="1" ng-false-value="0" > ER
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label for="cboPHICFrequent">PHIC Computation</label>
                <select class="form-control input-sm" id="cboPHICFrequent" name="cboPHICFrequent" ng-model="setup.PHICComputation" ng-options="item.EntryID as item.PaymentTerm for item in paymenttypes"
                    ng-disabled="IsDisable"></select>
            </div>
            <div class="form-group col-md-2">
                <label for="txtPHICDivisor" class="text-danger">[ Divisor ]</label>
                <input type="text" class="form-control input-sm" id="txtPHICDivisor" placeholder="0" ng-model="setup.PHICDivisor" required/>
            </div>
            <div class="form-group col-md-4">
                <label class="text-danger">[ Applied ]</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="setup.IsPHICEE" ng-true-value="1" ng-false-value="0" > EE
                    </label>
                    <label>
                        <input type="checkbox" ng-model="setup.IsPHICER" ng-true-value="1" ng-false-value="0" > ER
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label for="cboHDMFFrequent">HDMF Computation</label>
                <select class="form-control input-sm" id="cboHDMFFrequent" name="cboHDMFFrequent" ng-model="setup.HDMFComputation" ng-options="item.EntryID as item.PaymentTerm for item in paymenttypes"
                    ng-disabled="IsDisable"></select>
            </div>
            <div class="form-group col-md-2">
                <label for="txtPHICDivisor" class="text-danger">[ Divisor ]</label>
                <input type="text" class="form-control input-sm" id="txtPHICDivisor" placeholder="0" ng-model="setup.HDMFDivisor" required/>
            </div>
            <div class="form-group col-md-4">
                <label class="text-danger">[ Applied ]</label>
                <div class="checkbox">
                    <label>
                    <input type="checkbox" ng-model="setup.IsHDMFEE" ng-true-value="1" ng-false-value="0" > EE
                </label>
                    <label>
                    <input type="checkbox" ng-model="setup.IsHDMFER" ng-true-value="1" ng-false-value="0" > ER
                </label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label for="cboTaxFrequent">TAX Computation</label>
                <select class="form-control input-sm" id="cboTaxFrequent" name="cboTaxFrequent" ng-model="setup.TAXComputation" ng-options="item.EntryID as item.PaymentTerm for item in paymenttypes"
                    ng-disabled="IsDisable"></select>
            </div>
            <div class="form-group col-md-2">
                <label for="txtPHICDivisor" class="text-danger">[ Divisor ]</label>
                <input type="text" class="form-control input-sm" id="txtPHICDivisor" placeholder="0" ng-model="setup.TAXDivisor" required/>
            </div>
            <div class="form-group col-md-4">
                <label class="text-danger">[ Applied ]</label>
                <div class="checkbox">
                    <label>
                    <input type="checkbox" ng-model="setup.IsTAXEE" ng-true-value="1" ng-false-value="0" > EE
                </label>
                    <label>
                    <input type="checkbox" ng-model="setup.IsTAXER" ng-true-value="1" ng-false-value="0" > ER
                </label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group col-md-3">
                        <label for="txtMonthly">Monthly <span class="text-danger">[ Divisor ]</span></label>
                        <input type="text" class="form-control input-sm" id="txtMonthly" placeholder="0" ng-model="paytype.monthly" required/>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtSemiMonthly">Semi-Monthly <span class="text-danger">[ Divisor ]</span></label>
                        <input type="text" class="form-control input-sm" id="txtShortxtSemiMonthlytName" placeholder="0" ng-model="paytype.semimonthly" required/>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtWeekly">Weekly <span class="text-danger">[ Divisor ]</span></label>
                        <input type="text" class="form-control input-sm" id="txtWeekly" placeholder="0" ng-model="paytype.weekly" required/>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtDaily">Daily <span class="text-danger">[ Divisor ]</span></label>
                        <input type="text" class="form-control input-sm" id="txtDaily" placeholder="0" ng-model="paytype.daily" required/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>