<div class="row main">
    <h1 class="page-header">Withholding Tax Table - <span style="color:Red;">{{tax.Code | uppercase}}</span></h1>
    <div class="page-action-buttons">
       
        <button class="btn btn-success btn-sm" ng-click="refreshPage();"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTaxRate()"><i style="color:#42f4e8;" class="fa fa-table" aria-hidden="true"></i> Add Tax Base Rate</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTaxPercentage()"><i style="color:red" class="fa fa-dollar" aria-hidden="true"></i> Add Tax Percent</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTaxCeiling()"><i style="color:yellow;" class="fa fa-line-chart" aria-hidden="true"></i> Add Tax Ceiling</button>
        <button class="btn btn-default btn-sm" ng-click="viewTaxSummary('summary')"><i class="fa fa-list" aria-hidden="true"></i> View Tax Table Summary</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTAX('monthly')"><i class="fa fa-calendar" aria-hidden="true"></i> Add Monthly</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTAX('semi-monthly')"><i class="fa fa-calendar" aria-hidden="true"></i> Add Semi-Monthly</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTAX('weekly')"><i class="fa fa-calendar" aria-hidden="true"></i> Add Weekly</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-left:5px;" ng-click="addTAX('daily')"><i class="fa fa-calendar" aria-hidden="true"></i> Add Daily</button>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <uib-tabset active="active">
                    <uib-tab index="1" heading="Daily">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsDaily" id="tableParamsDaily">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Exemption'">{{row.ExemptionCode}}</td>
                                                            <td data-title="'Range 1'">{{row.Range1 | number:2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number:2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number:2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number:2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number:2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 | number:2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number:2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTax(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTax(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Weekly">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsWeekly" id="tableParamsWeekly">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Exemption'">{{row.ExemptionCode}}</td>
                                                            <td data-title="'Range 1'">{{row.Range1 | number: 2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number:2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number :2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number : 2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 |number :2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number :2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                             <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTax(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTax(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Semi-Monthly">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsSemiMonthly" id="tableParamsSemiMonthly">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Exemption'">{{row.ExemptionCode}}</td>
                                                            <td data-title="'Range 1'">{{row.Range1 | number :2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number :2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number :2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number :2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 | number :2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number :2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTax(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTax(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Monthly">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsMonthly" id="tableParamsMonthly">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Exemption'">{{row.ExemptionCode}}</td>
                                                            <td data-title="'Range 1'">{{row.Range1 | number :2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number :2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number :2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number :2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 | number :2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number :2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTax(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTax(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="5" heading="Tax Ceiling">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsTaxCeil" id="tableParamsTaxCeil">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Category'">{{row.tp_name}}</td>
                                                            <td data-title="'Range 1'">{{row.Range1 | number :2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number :2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number :2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number :2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 | number :2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number :2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTaxCeiling(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTaxCeiling(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="6" heading="Tax Percent">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsTaxPercentage" id="tableParamsTaxPercentage">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Range 1'">{{row.Range1 | number :2}}</td>
                                                            <td data-title="'Range 2'">{{row.Range2 | number :2}}</td>
                                                            <td data-title="'Range 3'">{{row.Range3 | number :2}}</td>
                                                            <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                                            <td data-title="'Range 5'">{{row.Range5 | number :2}}</td>
                                                            <td data-title="'Range 6'">{{row.Range6 | number :2}}</td>
                                                            <td data-title="'Range 7'">{{row.Range7 | number :2}}</td>
                                                            <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTaxPercentage(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTaxPercentage(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="7" heading="Tax Base Rate">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" ng-table="tableParamsTaxDue" id="tableParamsTaxDue">
                                                        <tr ng-repeat="row in $data">
                                                            <td data-title="'Bracket From'">{{row.BracketFrom | number :2}}</td>
                                                            <td data-title="'Bracket To'">{{row.BracketTo | number : 2}}</td>
                                                            <td data-title="'Tax Ceiling'">{{row.Less | number : 2}}</td>
                                                            <td data-title="'Tax Difference'">{{row.Plus | number : 2}}</td>
                                                            <td data-title="'Tax Percent'">{{row.Percent | number : 2}}</td>
                                                            <td class="text-center" width="8%">
                                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTaxDue(row.IndexID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteTaxDue(row.IndexID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </section>
</div>