<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Tax Table Summary -<span style="color:red;">{{tax.Code}}</span></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" ng-table="tableParams1" id="tableParams">
                            <tr ng-repeat="row in $data">
                                <td data-title="'Category'">{{row.tp_name}}</td>
                                 <td style="color:red;" data-title="'Exemption'">{{row.ExemptionCode}}</td>
                                <td data-title="'Range 1'">{{row.Range1 | number:2}}</td>
                                <td data-title="'Range 2'">{{row.Range2 | number:2}}</td>
                                <td data-title="'Range 3'">{{row.Range3 | number:2}}</td>
                                <td data-title="'Range 4'">{{row.Range4 | number :2}}</td>
                                <td data-title="'Range 5'">{{row.Range5 | number:2}}</td>
                                <td data-title="'Range 6'">{{row.Range6 | number:2}}</td>
                                <td data-title="'Range 7'">{{row.Range7 | number:2}}</td>
                                <td data-title="'Range 8'">{{row.Range8 | number:2}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Close</button>
</div>