    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Tax Base Rate</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtRange1">Bracket From</label>
                    <input type="number" class="form-control" id="txtBracketFrom" ng-model="taxationrate.BracketFrom" ng-disabled = "expression">
                </div>
                <div class="form-group">
                    <label for="txtRange2">Bracket To</label>
                    <input type="number" class="form-control" id="txtBracketTo" ng-model="taxationrate.BracketTo">
                </div>
                <div class="form-group">
                    <label for="txtRange3">Tax Ceiling</label>
                    <input type="number" class="form-control" id="txtLess" ng-model="taxationrate.Less">
                </div>
                <div class="form-group">
                    <label for="txtRange4">Tax Difference</label>
                    <input type="number" class="form-control" id="taxtratePlus" ng-model="taxationrate.Plus">
                </div>
                <div class="form-group">
                    <label for="txtRange5">Tax Percent</label>
                    <input type="number" class="form-control" id="txtPercent" ng-model="taxationrate.Percent">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="saveTaxDue()">Save</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>