<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee General Information Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee ID</label>
                            <input type="text" class="form-control input-sm" id="txtEmployeeID" placeholder="Employee ID" ng-model="employee.e_idno"
                                disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" class="form-control input-sm" id="txtLastName" placeholder="Last Name" ng-model="employee.e_lname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" class="form-control input-sm" id="txtFirstName" placeholder="First Name" ng-model="employee.e_fname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Middle Name</label>
                            <input type="text" class="form-control input-sm" id="txtMiddleName" placeholder="Middle Name" ng-model="employee.e_mname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gender</label>
                            <label class="radio-inline">
                                    <input type="radio" ng-model="employee.e_gender" name="radioGender" id="radioMale" value="M" ng-change="genderChanged()"> Male
                                </label>
                            <label class="radio-inline">
                                    <input type="radio" ng-model="employee.e_gender" name="radioGender" id="radioFemale" value="F" ng-change="genderChanged()"> Female
                                </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ext. Name</label>
                            <input type="text" class="form-control input-sm" id="txtExtName" placeholder="Ext. Name" ng-model="employee.e_suffix">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control input-sm" id="txtTitle" placeholder="Title" ng-model="employee.e_title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Birthday</label>
                            <p class="input-group  input-group-sm">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="employee.e_birthdate" is-open="popup1.opened" datepicker-options="dateOptions"
                                    ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Civil Status</label>
                            <select class="form-control input-sm" ng-model="employee.e_civil_status" ng-options="item.cs_id as item.cs_name for item in civilstatus"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Designation</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Status</label>
                        <select class="form-control input-sm" ng-model="employee.s_id" ng-options="item.StatusID as item.Status for item in employmentstatus"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Branch</label>
                        <select class="form-control input-sm" ng-model="employee.branch_id" ng-options="item.branch_id as item.branch_name for item in branches"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Division</label>
                        <select class="form-control input-sm" ng-model="employee.division_id" ng-options="item.div_id as item.div_code for item in divisions"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Department</label>
                        <select class="form-control input-sm" ng-model="employee.DeptID" ng-options="item.d_id as item.d_name for item in departments"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Job Position</label>
                        <select class="form-control input-sm" ng-model="employee.jt_id" ng-options="item.jt_id as item.jt_name for item in jobpositions"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Date Hired</label>
                        <p class="input-group  input-group-sm">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="employee.e_dateemployed" is-open="popup2.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Date Appointed</label>
                        <p class="input-group  input-group-sm">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="employee.AppointedDate" is-open="popup3.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Payroll Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Payroll Term </label>
                            <select class="form-control input-sm" ng-model="employee.tp_id" ng-options="item.tp_id as item.tp_name for item in paytypes"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Monthly Rate</label>
                            <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="0.00" ng-model="employee.e_monthlyrate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Daily Rate </label>
                            <input type="text" class="form-control input-sm" id="txtDailyRate" placeholder="0.00" ng-model="employee.e_dailyrate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Hourly Rate</label>
                            <input type="text" class="form-control input-sm" id="txtHourlyRate" placeholder="0.00" ng-model="employee.e_hourlyrate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Remittances Requirement</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Exemption </label>
                            <select class="form-control input-sm" ng-model="employee.ExemptionID" ng-options="item.IndexID as item.Exemption for item in taxexemption"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtAccountNo">Account No:</label>
                            <input type="text" class="form-control input-sm" id="txtAccountNo" placeholder="0.00" ng-model="employee.AccountNo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.IsSSS" ng-change="chkSSS_CheckedChanged()"> With SSS ID?
                                    </label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">SSS No:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="SSS Number" ng-model="employee.e_ssno"
                                        ng-disabled="!employee.IsSSS">
                                </div>
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.SSS_FIXED" ng-change="chkSSSAttrib_CheckedChanged()"> SSS self-contribution?
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="exampleInputEmail1">SSS EE:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="0.00" ng-model="employee.SSSEC" ng-disabled="!employee.SSS_FIXED">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="exampleInputEmail1">SSS ER </label>
                                    <input type="text" class="form-control input-sm" id="txtDailyRate" placeholder="0.00" ng-model="employee.SSSEE" ng-disabled="!employee.SSS_FIXED">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="exampleInputEmail1">SSS ECC</label>
                                    <input type="text" class="form-control input-sm" id="txtHourlyRate" placeholder="0.00" ng-model="employee.SSSER" ng-disabled="!employee.SSS_FIXED">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.IsPh" ng-change="chkPhilHealth_CheckedChanged()"> With PHIC ID?
                                    </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">PHIC No:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="PHIC Number" ng-model="employee.e_philhealthno"
                                        ng-disabled="!employee.IsPh">
                                </div>
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.PH_FIXED" ng-change="chkPHAttrib_CheckedChanged()"> PHIC self-contribution?
                                    </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">PHIC EE:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="0.00" ng-model="employee.PHEE" ng-disabled="!employee.PH_FIXED">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">PHIC ER </label>
                                    <input type="text" class="form-control input-sm" id="txtDailyRate" placeholder="0.00" ng-model="employee.PHER" ng-disabled="!employee.PH_FIXED">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.IsPagIbig" ng-change="chkPAGIBIG_CheckedChanged()"> With HDMF ID?
                                    </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">HDMF No:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="HDMF Number" ng-model="employee.e_pagibigno"
                                        ng-disabled="!employee.IsPagIbig">
                                </div>
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" ng-model="employee.PAGIBIG_FIXED" ng-change="chkLoveAttrib_CheckedChanged()"> HDMF self-contribution?
                                    </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">HDMF EE:</label>
                                    <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="0.00" ng-model="employee.PAGIBIGEE" ng-disabled="!employee.PAGIBIG_FIXED">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">HDMF ER </label>
                                    <input type="text" class="form-control input-sm" id="txtDailyRate" placeholder="0.00" ng-model="employee.PAGIBIGER" ng-disabled="!employee.PAGIBIG_FIXED">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="employee.IsTin" ng-change="chkTIN_CheckedChanged()"> With T.I.N. ID?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">TIN No:</label>
                                        <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="TIN Number" ng-model="employee.e_tinno"
                                            ng-disabled="!employee.IsTin">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="employee.TAX_FIXED" ng-change="chkTINAttrib_CheckedChanged()"> WTAX self-contribution?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">TIN Share:</label>
                                        <input type="text" class="form-control input-sm" id="txtMonthlyRate" placeholder="0.00" ng-model="employee.TAXRATE" ng-disabled="!employee.TAX_FIXED">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>