<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Job Title/Positions</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-default" ng-click="addGroupJob()"><i class="fa fa-list"></i> Position Group</button>
        <button class="btn btn-default" ng-click="addClassJob()"><i class="fa fa-list"></i> Position Classification</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Job Titles" ng-keypress="($event.which === 13)?searchJobs():0"
                    ng-change="(txtFind.length < 1)?searchJobs():0">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg"ng-click="searchJobs()"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tblJobPosClass" id="tblJobPosClass">
            <tr ng-repeat="row in $data">
                <td data-title="'Position Code'" class="text-center center-td">
                    {{row.jt_code}}
                </td>
                <td data-title="'Position Title'">
                    {{row.jt_name}}
                </td>
                <td data-title="'Short Name'">
                    {{row.jt_shortname}}
                </td>
                <td data-title="'Classification '">
                    {{row.classdata.Classification || 'None'}}
                </td>
                <td data-title="'Position Group'">
                    {{row.groupdata.GroupName || 'None'}}
                </td>
                <td style="width:100px;" data-title="'In-Active'">
                    {{row.inactive == 0 ? 'Yes': 'No'}}
                </td>
                <td style="width:100px;" data-title="'Actions'">
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateJOBT(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteJOP(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>