<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Job Position Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <label for="txtPosCode">Position Code</label>
                    <input type="text" class="form-control" id="txtPosCode" placeholder="Position Code" ng-model="jobposition.jt_code">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPosTitle">Position Title</label>
                    <input type="text" class="form-control" id="txtPosTitle" placeholder="Position Title" ng-model="jobposition.jt_name">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Short Name</label>
                    <input type="text" class="form-control" id="txtPosShortName" placeholder="Short Name" ng-model="jobposition.jt_shortname">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPosDescription">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtPosDescription" ng-model="jobposition.jt_desc"></textarea>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail2">Position Group</label>
                    <select class="form-control input-sm" ng-model="jobposition.jt_groupid" ng-options="item.GroupID as item.GroupName  for item in jobpostgroup">
                    </select>
                </div>
                 <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Classification</label>
                    <select class="form-control input-sm" ng-model="jobposition.jt_classid" ng-options="item.IndexID as item.Classification  for item in jobpositions ">
                    </select>
                </div>
               
                <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" ng-model="jobposition.inactive" ng-true-value="1" ng-false-value="0"> In-Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>