<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Group Position     Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <button class="btn btn-default btn-sm" type="button" ng-click="addJGroup()">Add</button>
        <button class="btn btn-success btn-sm" type="button" ng-click="refreshData()">Refresh</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="txtCode">Group Code</label>
                        <input type="text" class="form-control input-sm" id="txtGroupCode" placeholder="Group Code" ng-model="groupdata.GroupCode" ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtTaxExemption">Group Name</label>
                        <input type="text" class="form-control input-sm" id="txtGroupName" placeholder="Group Name" ng-model="groupdata.GroupName" ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtDescription">Description</label>
                        <textarea class="form-control input-sm" col="3" id="txtDescription" placeholder="Short Description" ng-model="groupdata.Description" ng-disabled="IsDisable"></textarea>
                    </div>
                    <div class="checkbox col-md-12">
                        <label>
                            <input type="checkbox" ng-model="groupdata.Inactive" ng-true-value="1" ng-false-value="0"> In-Active
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" ng-table="tableParams" id="tableParams">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td style="width:100" data-title="'Group Code'" class="text-center center-td">
                            {{row.GroupCode}}
                        </td>
                        <td style="width:100" data-title="'Group Name'" class="text-center center-td">
                            {{row.GroupName}}
                        </td>
                        <td style="width:100" data-title="'Description'" class="text-center center-td">
                            {{row.Description || 'No Description'}}
                        </td>
                        <td style="width:100px; " data-title="'Actions'">
                            <button class="btn btn-deafult btn-sm" ng-click="updateGroupData(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteJobGroup(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry2()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>