<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change User Password</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtOldPassword">Current Password</label>
                <input type="password" class="form-control" id="txtOldPassword" ng-model="txtOldPassword" disabled>
            </div>
            <div class="form-group">
                <label for="txtNewPassword">New Password</label>
                <input type="password" class="form-control" id="txtNewPassword" ng-model="txtNewPassword">
            </div>
            <div class="form-group">
                <label for="txtConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="txtConfirmPassword" ng-model="txtConfirmPassword">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>