body {
  padding-top: 50px;
}

#loading-bar .bar {
  background: #c0392b;
}

#loading-bar .peg {
  -webkit-box-shadow: #c0392b 2px 0 6px 2px;
     -moz-box-shadow: #c0392b 2px 0 6px 2px;
      -ms-box-shadow: #c0392b 2px 0 6px 2px;
          box-shadow: #c0392b 2px 0 6px 2px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.center-td {
  text-align: center;
  vertical-align: middle !important;
  font-weight: bold;
  font-size: 12px;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
  float: left;
  border-bottom-width: 0;
}

.page-action-buttons {
  padding-bottom: 10px;
}

#myTable .selected {
  background-color: #29d;
}


/*
 * Color swatches
 *
 * Color swatches and associated values for our grayscale and brand colors.
 */

.color-swatches {
  margin: 0 -5px;
  overflow: hidden;
  /* clearfix */
}

.color-swatch {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .color-swatch {
    width: 20px;
    height: 20px;
  }
}


/* Framework colors */

.color-swatches .gray-darker {
  background-color: #222;
}

.color-swatches .gray-dark {
  background-color: #333;
}

.color-swatches .gray {
  background-color: #555;
}

.color-swatches .gray-light {
  background-color: #999;
}

.color-swatches .gray-lighter {
  background-color: #eee;
}

.color-swatches .brand-primary {
  background-color: #337ab7;
}

.color-swatches .brand-success {
  background-color: #5cb85c;
}

.color-swatches .brand-warning {
  background-color: #f59207;
}

.color-swatches .brand-danger {
  background-color: #d9534f;
}

.color-swatches .brand-info {
  background-color: #5bc0de;
}


/* Docs colors */

.color-swatches .bs-purple {
  background-color: #563d7c;
}

.color-swatches .bs-purple-light {
  background-color: #c7bfd3;
}

.color-swatches .bs-purple-lighter {
  background-color: #e5e1ea;
}

.color-swatches .bs-gray {
  background-color: #f9f9f9;
}

.cs_attendance .regular_days {
  background-color: #7ee07e;
  color: #000;
}





.cs_attendance .non_working {
  background-color: #555;
  color: #fff;
}

.cs_attendance .inc_logs {
  background-color: #999;
  color: #fff;
}

.cs_attendance .late {
  background-color: #f59207;
  color: #fff;
}

.cs_attendance .half_day {
  background-color: #ef807d;
  color: #fff;
}

.cs_attendance .posted{
  color: #f59207;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.strikethrough {
  text-decoration: line-through;
}