<div class="col-sm-3 col-md-2 sidebar">
    <div class="text-center" style="margin-bottom: 10px;">
        <img ng-src="{{profileImage}}" alt="" class="img-thumbnail" style="width: 100%; height: 160px;">
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <div class="input-group input-group-sm">
                <span class="input-group-btn">
        <button style="margin-right:22px;   "class="btn btn-default pull-right btn-sm" ng-click="uploadCompanyProfile()" uib-tooltip="Upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        <button  style = "margin-left:18px;"class="btn btn-danger btn-sm" ng-click="DeleteCompanyProfile()" uib-tooltip="Remove" ><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
      </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Company Profile</h1>
    <div class="page-action-buttons">
        <button class="btn btn-primary btn-sm" ng-click="saveEntry()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
    </div>
    <section>
        <uib-tabset active="activePill">
            <uib-tab index="0" heading="Company Profile">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Company Name</label>
                                        <input type="text" class="form-control input-sm" id="txtBoxComName" placeholder="Company Name" ng-model="company.ci_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fax No.</label>
                                        <input type="text" class="form-control input-sm" id="txtBoxFax" placeholder="Fax No." ng-model="company.ci_fax">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tel / Mobile No.</label>
                                        <input type="text" class="form-control input-sm" id="txtBoxTelephone" placeholder="Tel / Mobile No." ng-model="company.ci_telephone">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Website</label>
                                        <input type="text" class="form-control input-sm" id="txtWebsite" placeholder="Website" ng-model="company.ci_website">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Owner</label>
                                        <input type="text" class="form-control input-sm" id="txtOwner" placeholder="Company Owner" ng-model="company.ci_owner">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Office Code</label>
                                        <input type="text" class="form-control input-sm" id="txtOfficeCode" placeholder="Company Code" ng-model="company.office_code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Town/City </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxCity" placeholder="Town/City" ng-model="company.ci_city">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Steet </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxStreet" placeholder="Residence" ng-model="company.ci_streetadd">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Province/State </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxProvincial" placeholder="Province/State" ng-model="company.ci_provincialadd">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Zip Code </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxZipCode" placeholder="Zip Code" ng-model="company.ci_zipcode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">SSS No. </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxSSNo" placeholder="SSS No." ng-model="company.ci_ssno">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">PHIC No. </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxPhilHealthNo" placeholder="PHIC No." ng-model="company.ci_philhealthno">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">HDMF No.</label>
                                    <input type="text" class="form-control input-sm" id="txtBoxPagIbigNo" placeholder="HDMF No." ng-model="company.ci_pagibigno">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">TIN No. </label>
                                    <input type="text" class="form-control input-sm" id="txtBoxTinNo" placeholder="TIN No. " ng-model="company.ci_tinno">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Mission">

                 <img ng-src="{{profileMission}}" alt=""  class="img-thumbnail center-block" style="width: 400px; height: 400px; margin-top:50px;">
                  <button style="margin-right:530px; margin-top:10px;"class="btn btn-default pull-right btn-sm" ng-click="uploadCompanyMission()" uib-tooltip="Upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        <button  style = "margin-left:520px; margin-top:10px;"class="btn btn-danger btn-sm" ng-click="DeleteCompanyProfile()" uib-tooltip="Remove" ><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </uib-tab>
            <uib-tab index="2" heading="Vision">
                  <img ng-src="{{profileVision}}" alt=""  class="img-thumbnail center-block" style="width: 400px; height: 400px; margin-top:50px;">
                  <button style="margin-right:530px; margin-top:10px;"class="btn btn-default pull-right btn-sm" ng-click="uploadCompanyVision()" uib-tooltip="Upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        <button  style = "margin-left:520px; margin-top:10px;"class="btn btn-danger btn-sm" ng-click="DeleteCompanyProfile()" uib-tooltip="Remove" ><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </uib-tab>
            <uib-tab index="3" heading="History">
                  <img ng-src="{{profileHistory}}" alt=""  class="img-thumbnail center-block" style="width: 400px; height: 400px; margin-top:50px;">
                  <button style="margin-right:530px; margin-top:10px;"class="btn btn-default pull-right btn-sm" ng-click="uploadCompanyHistory()" uib-tooltip="Upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        <button  style = "margin-left:520px; margin-top:10px;"class="btn btn-danger btn-sm"  ng-click="DeleteCompanyProfile('DeleteHistory')" uib-tooltip="Remove" ><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </uib-tab>
        </uib-tabset>
    </section>
</div>