<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee General Information Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Employee ID</label>
                                <input type="text" class="form-control input-sm" id="txtEmployeeID" placeholder="Employee ID" ng-model="employee.e_idno"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Last Name</label>
                                <input type="text" class="form-control input-sm" id="txtLastName" placeholder="Last Name" ng-model="employee.e_lname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text" class="form-control input-sm" id="txtFirstName" placeholder="First Name" ng-model="employee.e_fname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Middle Name</label>
                                <input type="text" class="form-control input-sm" id="txtMiddleName" placeholder="Middle Name" ng-model="employee.e_mname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Gender</label>
                                <label class="radio-inline">
                                        <input type="radio" ng-model="employee.e_gender" name="radioGender" id="radioMale" value="M" ng-change="genderChanged()"> Male
                                    </label>
                                <label class="radio-inline">
                                        <input type="radio" ng-model="employee.e_gender" name="radioGender" id="radioFemale" value="F" ng-change="genderChanged()"> Female
                                    </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ext. Name</label>
                                <input type="text" class="form-control input-sm" id="txtExtName" placeholder="Ext. Name" ng-model="employee.e_suffix">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Title</label>
                                <input type="text" class="form-control input-sm" id="txtTitle" placeholder="Title" ng-model="employee.e_title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Birthday</label>
                                <p class="input-group input-group-sm">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="employee.e_birthdate" is-open="popup1.opened" datepicker-options="dateOptions"
                                        ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Civil Status</label>
                                <select class="form-control input-sm" ng-model="employee.e_civil_status" ng-options="item.cs_id as item.cs_name for item in civilstatus"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>