<div class="col-sm-4 col-md-3 sidebar">
    <ng-include src="'./public/kiosk/templates/humanresource/employeeprofile/sidebar.html'">
</div>
<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
    <h1 class="page-header">Employee Profile</h1>
    <div class="page-action-buttons">
        <button class="btn btn-primary btn-sm" ng-click="saveEmployee()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm" ng-disabled="IsDisabled"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
        <button class="btn btn-default btn-sm" ng-click="updateEmployeeInfo()"><i class="fa fa-file-o" aria-hidden="true"></i> Update Information</button>
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                <i class="fa fa-picture-o" aria-hidden="true"></i> Employee Picture <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="" ng-click="updateEmployeePicture()">Upload Picture</a></li>
                <li role="menuitem"><a href="" ng-click="clearEmployeePicture()">Clear Picture</a></li>
            </ul>
        </div>
        <button class="btn btn-default btn-sm" ng-click="showEmployeeFingerprint()" ng-disabled="IsDisabled"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Employee Fingerprint</button>
    </div>
    <section>
        <uib-tabset active="activePill">
            <uib-tab index="0" heading="Personal Information">
                <ng-include src="'./public/hris/templates/humanresource/employee/employeeprofile/info.html'">
            </uib-tab>
            <uib-tab index="1" heading="Family Background">
                <ng-include src="'./public/hris/templates/humanresource/employee/employeeprofile/family.html'">
            </uib-tab>
            <uib-tab index="2" heading="Educational Attainment">
                <ng-include src="'./public/hris/templates/humanresource/employee/employeeprofile/education.html'">
            </uib-tab>
            <uib-tab index="3" heading="Employee Schedule">
                <ng-include src="'./public/kiosk/templates/humanresource/employeeprofile/schedule.html'">
            </uib-tab>
            <uib-tab index="4" heading="Job Experience">
                <ng-include src="'./public/hris/templates/humanresource/employee/employeeprofile/jobexp.html'">
            </uib-tab>
        </uib-tabset>
    </section>
</div>