<div class="row" style="margin-top:10px;">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Personal Information</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Civil Status</label>
            <select class="form-control input-sm" ng-model="employee.e_civil_status" ng-options="item.cs_id as item.cs_name for item in civilstatus"></select>
          </div>
          <div class="form-group form-group-sm">
            <label for="exampleInputEmail1">Birthday</label>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="dtpDOB" is-open="popup1.opened" datepicker-options="dateOptions"
                ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nationality</label>
            <select class="form-control input-sm" ng-model="employee.nationality_id" ng-options="item.NationalityID as item.Nationality for item in nationalities"></select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Religion</label>
            <select class="form-control input-sm" ng-model="employee.e_religion" ng-options="item.ReligionID as item.Religion for item in religions"></select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control input-sm" id="txtEmail" placeholder="Email Address" ng-model="employee.e_email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Mobile No.</label>
            <input type="text" class="form-control input-sm" id="txtMobileNo" placeholder="Mobile No." ng-model="employee.e_mobile_number">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Fax No.</label>
            <input type="text" class="form-control input-sm" id="txtFaxNo" placeholder="Fax No." ng-model="employee.e_fax_number">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Blood Type </label>
              <input type="text" class="form-control input-sm" id="txtBlood" placeholder="Blood Type" ng-model="employee.e_bloodtype">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Weight</label>
              <input type="text" class="form-control input-sm" id="txtWeight" placeholder="Weight" ng-model="employee.Weight">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Height </label>
              <input type="text" class="form-control input-sm" id="txtHeight" placeholder="Height" ng-model="employee.Height">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Device No. </label>
              <input type="text" class="form-control input-sm" id="txtDeviceNo" placeholder="Device No." ng-model="employee.device_no">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Place of Birth </label>
            <textarea class="form-control input-sm" col="3" ng-model="employee.PlaceOfBirth"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Resident Address</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Residence </label>
          <input type="text" class="form-control input-sm" id="txtProvince" placeholder="Residence" ng-model="employee.e_homeadd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Town/City </label>
          <input type="text" class="form-control input-sm" id="txtTown" placeholder="Town/City" ng-model="employee.e_cityadd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Province/State </label>
          <input type="text" class="form-control input-sm" id="txtProvince" placeholder="Province/State" ng-model="employee.e_provincialadd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Zip Code </label>
          <input type="text" class="form-control input-sm" id="txtZipCode" placeholder="Zip Code" ng-model="employee.e_zipcode">
        </div>
        <div class="form-group col-md-4">
            <button class="btn btn-default btn-block" ng-click="copyAddress()">Copy Residence Address to Present Address</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Permanent Address</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Residence </label>
          <input type="text" class="form-control input-sm" id="txtPerResidence" placeholder="Residence" ng-model="employee.Perhomeadd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Town/City </label>
          <input type="text" class="form-control input-sm" id="txtPerTown" placeholder="Town/City" ng-model="employee.PerMunicipality">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Province/State </label>
          <input type="text" class="form-control input-sm" id="txtPerProvince" placeholder="Province/State" ng-model="employee.PerProvince">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Zip Code </label>
          <input type="text" class="form-control input-sm" id="txtPerZipCode" placeholder="Zip Code" ng-model="employee.PerZipcode">
        </div>
      </div>
    </div>
  </div>
</div>