<div class="text-center" style="margin-bottom: 10px;">
        <img ng-src="{{profileImage}}" err-src="http://placehold.it/250x250" alt="" class="img-thumbnail" style="width: 160px; height: 160px;">
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Employee No: </label>
                <label class="text-primary">{{employee.e_idno}} </label>
            </div>
            <div class="form-group">
                <label>Lastname: </label>
                <label class="text-primary">{{employee.e_lname}} </label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name: </label>
                <label class="text-primary">{{employee.e_fname}} </label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Middle Name: </label>
                <label class="text-primary">{{employee.e_mname}} </label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Gender: </label>
                <label class="text-primary">{{employee.e_gender}} </label>
            </div>
        </div>
    </div>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Service Designation">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Position: </label>
                        <label class="text-primary">{{employee.job_position}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Department: </label>
                        <label class="text-primary">{{employee.department}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Division: </label>
                        <label class="text-primary">{{employee.division}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Branch: </label>
                        <label class="text-primary">{{employee.branch}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Hired: </label>
                        <label class="text-primary">{{employee.e_dateemployed | date:'MM/dd/yyyy'}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Appointed: </label>
                        <label class="text-primary">{{employee.AppointedDate | date: 'MM/dd/yyyy'}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Separation: </label>
                        <label class="text-primary">{{employee.DateResigned | date: 'MM/dd/yyyy'}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Retirement: </label>
                        <label class="text-primary">{{employee.DateRetired | date: 'MM/dd/yyyy'}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Year(s) in Service: </label>
                        <label class="text-primary">{{employee.yearsOfService}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Employment Status: </label>
                        <label class="text-primary">{{employee.employment_status}} </label>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Payroll Information">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Payroll Term: </label>
                        <label class="text-primary">{{employee.payroll_type}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Monthly Rate: </label>
                        <label class="text-primary">{{employee.e_monthlyrate | number: 2}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Daily Rate: </label>
                        <label class="text-primary">{{employee.e_dailyrate | number:2}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hourly Rate: </label>
                        <label class="text-primary">{{employee.e_hourlyrate | number:2}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">TIN No.: </label>
                        <label class="text-primary">{{employee.e_tinno}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">SSS No.: </label>
                        <label class="text-primary">{{employee.e_ssno}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">PHIC No.: </label>
                        <label class="text-primary">{{employee.e_philhealthno}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">HDMF No.: </label>
                        <label class="text-primary">{{employee.e_pagibigno}} </label>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>