<div class="col-sm-3 col-md-2 sidebar">
    <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="branches" data-node-id="tree_id" data-node-label="tree_name" data-node-children="departments">
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Employee Overtimes</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-left">
                        <div>
                            <label for="exampleInputEmail1">PERIOD CODE: </label>
                            <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                        </div>
                        <div>
                            <label for="exampleInputEmail1">PERIOD COVERED: </label>
                            <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button class="btn btn-default btn-sm" ng-click="payrollOptions()"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Options</button>
                        <button class="btn btn-success btn-sm" uib-tooltip="Refres" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                        <button class="btn btn-default btn-sm" uib-tooltip="Print" ng-click="printList()"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblChildren">
                            <thead>
                                <tr>
                                    <th>Ref No</th>
                                    <th class="text-center">Employee ID</th>
                                    <th class="text-center">Employee Name</th>
                                    <th class="text-center">Job Position</th>
                                    <th class="text-center">Emp. Status</th>
                                    <th class="text-center">Date Filed</th>
                                    <th class="text-center">Total Hrs.</th>
                                    <th class="text-center">Reg. Hrs.</th>
                                    <th class="text-center">Hol. Hrs.</th>
                                    <th class="text-center">Spl. Hrs.</th>
                                    <th class="text-center">Sun. Hrs.</th>
                                    <th class="text-center">Approved Hrs.</th>
                                    <th class="text-center" width="8%"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="row in overtimes">
                                <td><small class="text-danger">{{row.RefNo | uppercase}}</small></td>
                                <td class="text-center">{{row.EmployeeID}}</td>
                                <td class="text-center">{{row.EmployeeName}}</td>
                                <td class="text-center">{{row.JobTitle}}</td>
                                <td class="text-center">{{row.EmpStatus}}</td>
                                <td class="text-center">{{row.DateFiled}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalRegOT}}</td>
                                <td class="text-center">{{row.TotalHolOT}}</td>
                                <td class="text-center">{{row.TotalSplOT}}</td>
                                <td class="text-center">{{row.TotalSunOT}}</td>
                                <td class="text-center">{{row.TotalApprovedNoHrs}}</td>
                                <td class="text-center">
                                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="viewEmployeeOvertime(row.EmployeeID,row.PayrollID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteOvertime(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
