<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee Overtime Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group form-group-sm col-md-12">
                    <label for="exampleInputEmail1">O.T. Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="overtime.InclusiveDates" is-open="popup2.opened" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" ng-disabled="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open2()" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtDepartment">Time In</label>
                    <div uib-timepicker ng-model="overtime.TimeIn" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-model-options="{timezone: 'utc'}"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtDeptShortName">Time Out</label>
                    <div uib-timepicker ng-model="overtime.TimeOut" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-model-options="{timezone: 'utc'}"></div>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtRemarks">Total Overtime HRS.</label>
                    <h1 class="text-info"><strong>{{overtime.NoHrs}}</strong></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>