<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Branches</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Branches" ng-keypress="($event.which === 13)?searchBranches():0"
                    ng-change="(txtFind.length < 1)?searchBranches():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchBranches()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>

    <div class="table-responsive ">
        <table class="table table-striped table-bordered" ng-table="tableParams">
            <tr ng-repeat="row in $data">
                <td data-title="'Branch Code'">
                    {{row.branch_code}}
                </td>

                <td data-title="'Branch Name'">
                    {{row.branch_name}}
                </td>
                <td data-title="'Short Name'">
                    {{row.short_name}}
                </td>
                <td data-title="'Address'">
                    {{row.address}}
                </td>
                <td data-title="'In-Active'">
                    {{row.inactive == 0 ? 'Yes': 'No'}}
                </td>
                <td style="width:100px; " data-title="'Action'">

                    <button href="" class="btn btn-default btn-sm" ng-click="updateBranch(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteBranch(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>

        </table>
    </div>
</div>