<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Account's type Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <button class="btn btn-default btn-sm" type="button" ng-click="addType()">Add</button>
        <button class="btn btn-success btn-sm" type="button" ng-click="refreshData()">Refresh</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="txtCode">Category Code</label>
                        <input type="text" class="form-control input-sm" id="txtClassCode" placeholder="Category Code" ng-model="accounttype.CategoryCode" ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtTaxExemption">Category Name</label>
                        <input type="text" class="form-control input-sm" id="txtClassName" placeholder="Category Name" ng-model="accounttype.CategoryName" ng-disabled="IsDisable">
                    </div>
                     <div class="form-group col-md-12">
                        <label for="txtDescription">Category Short Description</label>
                        <textarea class="form-control input-sm" col="3" id="txtClassShort" placeholder="Category Short Description" ng-model="accounttype.CategoryShort" ng-disabled="IsDisable"></textarea>
                    </div>
                    <div class="checkbox col-md-12">
                        <label>
                                    
                                </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                 <table class="table table-bordered table-hover" ng-table="tableParams">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td style="width:100" data-title="'Category Code'" class="text-center center-td">
                            {{row.CategoryCode}}
                        </td>
                        <td style="width:100" data-title="'Category Name'" class="text-center center-td">
                            {{row.CategoryName}}
                        </td>
                        <td style="width:100" data-title="'Category Short Description'" class="text-center center-td">
                            {{row.CategoryShort}}
                        </td>
                        <td style="width:100px; " data-title="'Actions'">
                            <button class="btn btn-deafult btn-sm" ng-click="updateType(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteType(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
      <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry4()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>