<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change Employee ID</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtOldEmployee">Old Employee ID</label>
                <input type="text" class="form-control" id="txtOldEmployee" ng-model="txtOldEmployee" disabled>
            </div>
            <div class="form-group">
                <label for="txtNewEmployee">New Employee ID</label>
                <input type="text" class="form-control" id="txtNewEmployee" ng-model="txtNewEmployee">
            </div>
            <div class="form-group">
                <label for="txtConfirm">Confirm</label>
                <input type="text" class="form-control" id="txtConfirm" ng-model="txtConfirm">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>