<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Work Schedule</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-left">
                            <div>
                                <label for="exampleInputEmail1">PERIOD CODE: </label>
                                <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">PERIOD COVERED: </label>
                                <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-default btn-sm" ng-click="viewEmployeeWorkSchedule()">View Work Schedule</button>
                            <button class="btn btn-default btn-sm" ng-click="viewEmployeeTimeLogs()">View Timelogs</button>
                            <button class="btn btn-primary btn-sm" uib-tooltip="Apply" ng-click="applyRawLogs()" ng-disabled="!applyLogs"><i class="fa fa-check" aria-hidden="true"></i> Apply Timelogs</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered cs_attendance" id="tblChildren">
                                <thead>
                                    <tr>
                                        <th>DATE</th>
                                        <th class="text-center">WEEKDAY</th>
                                        <th class="text-center">TIME IN (AM)</th>
                                        <th class="text-center">TIME OUT (AM)</th>
                                        <th class="text-center">TIME IN (PM)</th>
                                        <th class="text-center">TIME OUT (PM)</th>
                                        <th class="text-center">REG. HRS.</th>
                                        <th class="text-center">TOTAL HRS.</th>
                                        <th class="text-center">ABSENT</th>
                                        <th class="text-center">NON-WORKING</th>
                                        <th class="text-center">REMARKS</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="row in attendance" ng-class="{
                                    'regular_days':row.EntryID != null,'non_working': (row.IsNonWorking == 1 || row.DAYOFWEEK == 1 || row.DAYOFWEEK == 7)
                                }">
                                    <td>
                                        <i class="fa fa-2x fa-lock posted" aria-hidden="true" ng-if="row.IsPosted == 1"></i> &nbsp; {{row.F_TransDate | date:'MM/dd/yyyy'}}
                                    </td>
                                    <td>{{row.DAYNAME | uppercase}}</td>
                                    <td class="text-center">{{row.F_TimeIn | date:'hh:mm a'}}</td>
                                    <td class="text-center">{{row.F_TimeOut | date:'hh:mm a'}}</td>
                                    <td class="text-center">{{row.F_TimeIn2 | date:'hh:mm a'}}</td>
                                    <td class="text-center">{{row.F_TimeOut2 | date:'hh:mm a'}}</td>
                                    <td class="text-center">
                                        <label ng-if="row.IsNonWorking == 1">0</label>
                                        <label ng-if="row.IsNonWorking == 0">{{row.RegHrs}}</label>
                                    </td>
                                    <td class="text-center">{{row.Totalhrs}}</td>
                                    <td class="text-center">
                                        <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsAbsent == 1 && row.IsPosted == 1"></i>
                                        <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsAbsent == 0 && row.IsPosted == 1"></i>
                                        <label ng-if="row.IsPosted == 0">
                                            <input type="checkbox" ng-model="row.IsAbsent" ng-true-value="1" ng-false-value="0">
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsNonWorking ==1 && row.IsPosted == 1"></i>
                                        <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsNonWorking == 0 && row.IsPosted == 1"></i>
                                        <label ng-if="row.IsPosted == 0">
                                            <input type="checkbox" ng-model="row.IsNonWorking" ng-true-value="1" ng-false-value="0">
                                        </label>
                                    </td>
                                    <td class="text-center">{{row.Remarks}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee DTR Summary</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of Hours: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalHrs|number:1}}</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of minutes late: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalMinLate|number:1}}</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of minutes undertime: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalMinUndertime|number:1}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of half day: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalHalfDay|number:1}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of absent: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalAbsent|number:1}}</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of days with Holidays: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalHolidays|number:1}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of days with non working: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalNonWorking|number:1}} </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total No. of days: </label>
                        <label class="text-primary pull-right">{{attendanceStat.totalDays|number:1}} </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="color-swatches">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="color-swatch brand-success"></div>
                                <label>Regular Working Day</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch gray"></div>
                                <label>Non Working Day</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch brand-warning"></div>
                                <label>Late Day</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch brand-info"></div>
                                <label>Half Day</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch brand-danger"></div>
                                <label>On Leave</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch bs-purple-light"></div>
                                <label>AWOL</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch brand-primary"></div>
                                <label>Holiday</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="color-swatch gray-light"></div>
                                <label>Incomplete Logs</label>
                            </div>
                            <div class="form-group">
                                &nbsp;<i class="fa fa-2x fa-lock" aria-hidden="true"></i>
                                <label>Posted Entry</label>
                            </div>
                            <div class="form-group">
                                <div class="color-swatch bs-purple"></div>
                                <label>Undertime</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>