<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee Timelogs</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Employee: </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-left">
                        <div>
                            <label for="exampleInputEmail1">PERIOD CODE: </label>
                            <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                        </div>
                        <div>
                            <label for="exampleInputEmail1">PERIOD COVERED: </label>
                            <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <!-- <button class="btn btn-default btn-sm" uib-tooltip="New Log" ng-click="insertTimeLog()"><i class="fa fa-plus" aria-hidden="true"></i> New Entry</button> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="myTable" ng-table="tableParams">
                            <tr ng-repeat="row in $data" ng-repeat-end-watch="myFunction">
                                <td data-title="'Actual Date'" class="text-center center-td">
                                    {{row.formattedTimeLog}}
                                </td>
                                <td data-title="'Time Log'">
                                    {{row.TimeLog | date:'hh:mm a'}}
                                </td>
                                <!-- <td data-title="''" class="text-center" width="12%">
                                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateTimeLog(row)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteRawTimeLog(row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td> -->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>