<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Department Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <label for="txtDeptCode">Department Code</label>
                    <input type="text" class="form-control input-sm" id="txtDeptCode" placeholder="Department Code" ng-model="department.d_code">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtDepartment">Department Name</label>
                    <input type="text" class="form-control input-sm" id="txtDepartment" placeholder="Department Name" ng-model="department.d_name">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtDeptShortName">Short Name</label>
                    <input type="text" class="form-control input-sm" id="txtDeptShortName" placeholder="Short Name" ng-model="department.short_name ">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtDeptDescription">Description</label>
                    <textarea class="form-control input-sm " col="3" id="txtDeptDescription" ng-model="department.d_desc"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtDeptHead">Head/Director</label>
                    <input type="text" class="form-control input-sm" id="txtDeptHead" placeholder="Head/Director" ng-model="department.d_head">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtDeptTelNo">Telephone No.</label>
                    <input type="text" class="form-control input-sm" id="txtDeptTelNo" placeholder="Telephone No." ng-model="department.tel_no">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtDeptFax">Fax No.</label>
                    <input type="text" class="form-control input-sm" id="txtDeptFax" placeholder="Fax No." ng-model="department.fax_no">
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Branch</label>
                    <select class="form-control input-sm" ng-model="department.branch_id" ng-options="item.branch_id as item.branch_code for item in branches ">
                    </select>
                </div>
                <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" ng-model="department.s" ng-true-value="1" ng-false-value="0"> In-Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>