<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Work Schedule - {{workTemplate.CodeTemplate}}</h3>
    <div class="pull-right" style="margin-top:15px;">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Working Day</th>
                            <th class="text-center">AM IN</th>
                            <th class="text-center">AM OUT</th>
                            <th class="text-center">PM IN</th>
                            <th class="text-center">PM IN</th>
                            <th class="text-center">Break Start</th>
                            <th class="text-center">Break End</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in workDays">
                        <td>{{row.Days | uppercase}}</td>
                        <td>
                            <div class="input-group-sm">
                                <div uib-timepicker ng-model="row.AMIn" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                            </div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="row.AMOut" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="row.PMIn" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="row.PMOut" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="row.BRIn" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="row.BROut" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
<style>
    #myTable td {
        text-align: center;
        vertical-align: middle;
    }
</style>