<ul class="nav nav-sidebar">
    <li ng-class="{active: selectedTab == 0}"><a ui-sref="main.home" href="">Overview <span class="sr-only">(current)</span></a></li>
    <li ng-class="{active: selectedTab == 1}"><a ui-sref="main.timelogs" href="">Time logs</a></li>
    <li ng-class="{active: selectedTab == 2}"><a href="">Attendance</a></li>
    <li ng-class="{active: selectedTab == 3}"><a href="">Reports</a></li>
    <li ng-class="{active: selectedTab == 4}"><a href="">Analytics</a></li>
    <li ng-class="{active: selectedTab == 5}"><a href="">Export</a></li>
</ul>