<div class="col-sm-4 col-md-3 sidebar">
    <ng-include src="'./public/hris/templates/payroll/manual/sidebar.html'">
</div>
<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
    <h1 class="page-header">Manual Payroll Computation</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="clearEmployee()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click="saveOvertime()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteOvertime()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
        <button class="btn btn-default btn-sm pull-right" ng-click="payrollOptions()"><i class="fa fa-book" aria-hidden="true"></i> Payroll Transaction</button>
        <button class="btn btn-default btn-sm pull-right" ng-click="payrollOptions()" style="margin-right:5px;"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Options</button>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">EARNINGS</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">Total Hrs./Min. </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">DESCRIPTION</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">Basic Pay</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">Absent</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">Late</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">Overtime</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">Amount </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">OTHER INCOME</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered cs_attendance" id="tblChildren">
                                    <thead>
                                        <tr>
                                            <th>DESCRIPTION</th>
                                            <th class="text-right">AMOUNT</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="row in attendance">
                                        <td>{{row.DAYNAME | uppercase}}</td>
                                        <td class="text-center">{{row.F_TimeIn | number:2}}</td>
                                        <td class="text-center">
                                            <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsAbsent == 1"></i>
                                            <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsAbsent == 0"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Insert</a>
                        <a class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Clear</a>
                        <div class="pull-right" style="margin-top: -15px;">
                            <h3>Total: <span class="text-danger">10000.00</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">DEDUCTIONS</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">DESCRIPTION </label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">SSS</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">PHIC</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">HDMF</label>
                                </div>
                                <div class="form-group">
                                    <label style="margin-top:5px;">WTAX</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pull-left">
                                <div class="text-center">
                                    <label for="exampleInputEmail1" class="text-danger">[ EE ]</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pull-left">
                                <div class="text-center">
                                    <label for="exampleInputEmail1" class="text-danger">[ ER ] </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pull-left">
                                <div class="text-center">
                                    <label for="exampleInputEmail1" class="text-danger">[ ECC ] </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-right" id="txtDeviceNo" placeholder="0.00" ng-model="employee.device_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txtDeviceNo" class="form-control input-sm" disabled>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txtDeviceNo" class="form-control input-sm" disabled>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-default btn-sm" uib-tooltip="Compute Tax"><i class="fa fa-calculator" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1" class="text-danger">OTHER DEDUCTIONS</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered cs_attendance" id="tblChildren">
                                    <thead>
                                        <tr>
                                            <th>DESCRIPTION</th>
                                            <th class="text-right">AMOUNT</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="row in attendance">
                                        <td>{{row.DAYNAME | uppercase}}</td>
                                        <td class="text-center">{{row.F_TimeIn | number:2}}</td>
                                        <td class="text-center">
                                            <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsAbsent == 1"></i>
                                            <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsAbsent == 0"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Insert</a>
                        <a class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Clear</a>
                        <div class="pull-right" style="margin-top: -15px;">
                            <h3>Total: <span class="text-danger">10000.00</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">MISCELLANEOUS</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered cs_attendance" id="tblChildren">
                                <thead>
                                    <tr>
                                        <th>DESCRIPTION</th>
                                        <th class="text-right">AMOUNT</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="row in attendance">
                                    <td>{{row.DAYNAME | uppercase}}</td>
                                    <td class="text-center">{{row.F_TimeIn | number:2}}</td>
                                    <td class="text-center">
                                        <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsAbsent == 1"></i>
                                        <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsAbsent == 0"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Insert</a>
                        <a class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Clear</a>
                        <div class="pull-right" style="margin-top: -15px;">
                            <h3>Total: <span class="text-danger">10000.00</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Remarks</label>
                            <textarea class="form-control input-sm" col="3" ng-model="employee.PlaceOfBirth"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group pull-left">
                            <div>
                                <h1 for="exampleInputEmail1">NET PAY: <span class="text-primary">10000.00</span></h1>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-default" ng-click="saveOvertime()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            <button class="btn btn-primary" uib-tooltip="Approved Overtime" ng-click="approveOvertime()"><i class="fa fa-check" aria-hidden="true"></i> Post</button>
                            <button class="btn btn-danger" uib-tooltip="Purge Overtime" ng-click="deleteOvertime()"><i class="fa fa-times" aria-hidden="true"></i> Purge</button>
                            <button class="btn btn-default" ng-click="viewEmployeeTimeLogs()"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                            <button class="btn btn-default" ng-click="viewEmployeeTimeLogs()"><i class="fa fa-calculator" aria-hidden="true"></i> Calculator</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>