<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Division</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtBranchCode">Division Code</label>
                    <input type="text" class="form-control" id="txtDivisionCode" placeholder="Division Code" ng-model="division.div_code">
                </div>
                <div class="form-group">
                    <label for="txtBranchName">Division Name</label>
                    <input type="text" class="form-control" id="txtBranchName" placeholder="Division Name" ng-model="division.div_name">
                </div>
                <div class="form-group">
                    <label for="txtAddress">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtDescription" ng-model="division.div_desc"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="division.inactive" ng-true-value="1" ng-false-value="0" > In-Active

                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

