<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Divisions</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Divisions" ng-keypress="($event.which === 13)?searchDivisions():0"
                    ng-change="(txtFind.length < 1)?searchDivisions():0">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg"ng-click="searchDivisions()"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tblDivisions" id="tblDivisions">
            <tr ng-repeat="row in $data">
                <td data-title="'Division Code'">
                    {{row.div_code}}
                </td>
                <td data-title="'Division Name'">
                    {{row.div_name}}
                </td>
                <td data-title="'Division Description'">
                    {{row.div_desc}}
                </td>
                <td data-title="'In-Active'">
                    {{row.inactive == 0 ? 'Yes': 'No'}}
                </td>
                </td>
                <td style="width:100px; " data-title="'Actions'">
                    <button href="" class="btn btn-default btn-sm" ng-click="updateDivision(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteDivision(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>
