<div class="row main">
    <h1 class="page-header">Payroll Period Configuration</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click="savePayroll()" ng-disabled="IsDisable"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payroll Period Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            <label for="cboYear">Select Year</label>
                            <select class="form-control input-sm" id="cboYear" name="cboYear" ng-model="payroll.UsedYear" ng-change="changePeriod()" ng-options="item as item for item in years" ng-disabled="IsDisable"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cboMonth">Select Month</label>
                            <select class="form-control input-sm" id="cboMonth" name="cboMonth" ng-model="payroll.UsedMonth" ng-change="changePeriod()" ng-options="item.month_name as item.month_name for item in months" ng-disabled="IsDisable"></select>
                        </div>
                        <hr>
                        <div class="form-group col-md-6">
                            <label for="cboPeriodMode">Period Mode</label>
                            <select class="form-control input-sm" id="cboPeriodMode" name="cboPeriodMode" ng-model="payroll.PaymentTypes" ng-change="changePeriod()" ng-options="item as item.PaymentTerm for item in paymenttypes track by item.EntryID" ng-disabled="IsDisable"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtPeriodCode">Period Code</label>
                            <input type="text" class="form-control input-sm" id="txtPeriodCode" placeholder="Period Code" ng-model="payroll.PayrollCode" disabled>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="exampleInputEmail1">Date From</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="payroll.FirstDate" is-open="popup1.opened" datepicker-options="dateOptions"
                                    ng-required="true" close-text="Close" ng-disabled="IsDisable"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open1()" ng-disabled="IsDisable"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="exampleInputEmail1">Date To</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="payroll.SecondDate" is-open="popup2.opened" datepicker-options="dateOptions"
                                    ng-required="true" close-text="Close" ng-disabled="IsDisable"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open2()" ng-disabled="IsDisable"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="cboCategory">Category</label>
                            <select class="form-control input-sm" id="cboCategory" name="cboCategory" ng-model="payroll.CategoryID" ng-options="item.tp_id as item.tp_name for item in paytypes" ng-disabled="IsDisable"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Payroll Setup</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" ng-table="tableParams" id="tblChildren">
                                        <tr ng-repeat="row in $data">
                                            <td data-title="'Period Code'">{{row.PayrollCode}}</td>
                                            <td class="text-center" data-title="'Month'">{{row.UsedMonth}}</td>
                                            <td class="text-center" data-title="'Year'">{{row.UsedYear}}</td>
                                            <td data-title="'Payroll Term'">{{row.Term}}</td>
                                            <td class="text-center" data-title="'Covered From'">{{row.FirstDate | date: 'yyyy-MM-dd'}}</td>
                                            <td class="text-center" data-title="'Covered To'">{{row.SecondDate | date: 'yyyy-MM-dd'}}</td>
                                            <td data-title="'Category'">{{row.tp_name}}</td>
                                            <td class="text-center" width="8%">
                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updatePayrollPeriod(row)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deletePayrollPeriod(row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>