<ul class="nav nav-sidebar">
    <li ng-class="{active: selectedTab == 0}"><a ui-sref="main.home" href="">Overview <span class="sr-only">(current)</span></a></li>
    <li ng-class="{active: selectedTab == 1}"><a ui-sref="main.employeeprofile" href="">Employee Profile</a></li>
    <li ng-class="{active: selectedTab == 2}"><a ui-sref="main.masterlist" href="">Employee Masterlist</a></li>
    <li ng-class="{active: selectedTab == 3}"><a href="">Employee Leave</a></li>
    <li ng-class="{active: selectedTab == 4}"><a href="">Employee Work Schedule</a></li>
</ul>
