<div class="modal-header">
    <h3 class="modal-title" id="modal-title">HDMF Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="form-group col-md-12">
            <label for="txtMonthlyComp">Monthly Compensation </label>
            <input type="text" class="form-control input-sm" id="txtMonthlyComp" ng-model="hdmf.MonthlyCompensation">
        </div>
        <div class="form-group col-md-6">
            <label for="txtBracketFrom">Bracket From </label>
            <input type="text" class="form-control input-sm" id="txtBracketFrom" ng-model="hdmf.BracketFrom">
        </div>
        <div class="form-group col-md-6">
            <label for="txtBracketTo">Bracket To </label>
            <input type="text" class="form-control input-sm" id="txtBracketTo" ng-model="hdmf.BracketTo">
        </div>
        <div class="form-group col-md-6">
            <label for="txtEmployeeShr">Employee Share %</label>
            <input type="text" class="form-control input-sm" id="txtEmployeeShr" ng-model="hdmf.EmployeeShare">
        </div>
        <div class="form-group col-md-6">
            <label for="txtTotal">Total %</label>
            <input type="text" class="form-control input-sm" id="txtTotal" ng-model="hdmf.Total">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>