<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Civil Status</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <button class="btn btn-default btn-sm" ng-click="addCivilStatus()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="txtCode">Civil Status</label>
                        <input type="text" class="form-control input-sm" id="txtClassCode" placeholder="Civil Status" ng-model="civilstatus.cs_name " ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" ng-table="tableParams">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td style="width:100" data-title="'Civil Status'" class="text-center center-td">
                            {{row.cs_name}}
                        </td>
                        <td style="width:100px; " data-title="'Actions'">
                            <button class="btn btn-deafult btn-sm" ng-click="updateCivilStatus(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteCivilStatus(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>