<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Civil Status Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtBranchCode">Civil Status</label>
                    <input type="text" class="form-control"  id="txtCivilStatus" placeholder="Civil Status" ng-model="civilstatus.cs_name" required/>
                </div>
           
            </div>
      
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>