<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nationality Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtNationality">Nationality</label>
                    <input type="text" class="form-control" id="txtNationality" placeholder="Nationality" ng-model="nationality.Nationality">
                </div>
                <div class="form-group">
                    <label for="txtNatShortname">Short Name</label>
                    <input type="text" class="form-control" id="txtNatShortname" placeholder="Short Name" ng-model="nationality.ShortName">
                </div>
                <div class="form-group">
                    <label for="txtNatDesc">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtNatDesc" placeholder="Description" ng-model="nationality.Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>