<div class="col-sm-3 col-md-3 sidebar">
    <ng-include src="'./public/hris/templates/attendance/DTR/sidebar.html'">
</div>
<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-3 main">
    <h1 class="page-header">Employee Attendance Monitoring</h1>
    <div class="page-action-buttons">
      <button class="btn btn-primary btn-sm" ng-click="saveTimeKeeping()" ng-disabled="!applyLogs"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      <button class="btn btn-danger btn-sm" ng-click="deleteTimeKeeping()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
      <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
      <button class="btn btn-default btn-sm" ng-click="payrollOptions()"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Option</button>
      <!-- <button class="btn btn-default btn-sm"><i class="fa fa-list" aria-hidden="true"></i> Attendance Settings</button> -->
    </div>
    <section>
        <uib-tabset active="activePill">
            <uib-tab index="0" heading="Daily Time Record">
                <ng-include src="'./public/hris/templates/attendance/DTR/dtr.html'">
            </uib-tab>
            <uib-tab index="1" heading="Overtime">
              <ng-include src="'./public/hris/templates/attendance/DTR/overtime.html'">
            </uib-tab>
            <uib-tab index="2" heading="Summary">
                <ng-include src="'./public/hris/templates/attendance/DTR/summary.html'">
            </uib-tab>
        </uib-tabset>
    </section>
</div>
