<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Work Schedule</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered cs_attendance" id="tblChildren">
                        <thead>
                            <tr>
                                <th class="text-center">DATE</th>
                                <th class="text-center">TIME IN</th>
                                <th class="text-center">TIME OUT</th>
                                <th class="text-center">O.T TYPE</th>
                                <th class="text-center">TOTAL HRS.</th>
                                <th class="text-center">PROJECT</th>
                                <th class="text-center">REMARKS</th>
                                <th class="text-center">REQUESTOR</th>
                                <th class="text-center">PRE-APPROVED BY</th>
                                <th class="text-center">APPROVED BY</th>
                                <th class="text-center">REF. NO.</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in overtimes">
                            <td>
                                <i class="fa fa-2x fa-lock posted" aria-hidden="true" ng-if="row.IsApproved == 1"></i> &nbsp;
                                {{row.InclusiveDates | date:'MM/dd/yyyy'}}
                            </td>
                            <td class="text-center">{{row.TimeIn | date:'hh:mm a'}}</td>
                            <td class="text-center">{{row.TimeOut | date:'hh:mm a'}}</td>
                            <td class="text-center">{{row.OTType.OTTypeCode}}</td>
                            <td class="text-center">{{row.NoHrs}}</td>
                            <td class="text-center">{{row.Project}}</td>
                            <td class="text-center">{{row.Remarks}}</td>
                            <td class="text-center">{{row.Requestor.employee_name}}</td>
                            <td class="text-center">{{row.PreApprovedBy}} <br><small class="text-danger">{{row.PreApprovedDate| date:'MM/dd/yyyy'}}</small></td>
                            <td class="text-center">{{row.ApprovedBy}} <br><small class="text-danger">{{row.ApprovedDate| date:'MM/dd/yyyy'}}</small></td>
                            <td class="text-center"><b class="text-danger text-bold">{{row.RefNo}}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Overtime Summary</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">REFERENCE NO: </label>
                        <label class="text-primary pull-right">{{refNo}}</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">TOTAL OVERTIME: </label>
                        <label class="text-primary pull-right">{{TotalNoHrs}} Hrs.</label>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>