<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Attendance Summary</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table cs_attendance table-bordered" id="tblChildren">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th class="text-center">WEEKDAY</th>
                                <th class="text-center">IN (AM)</th>
                                <th class="text-center">OUT (AM)</th>
                                <th class="text-center">IN (PM)</th>
                                <th class="text-center">OUT (PM)</th>
                                <th class="text-center" width="8%">TOTAL REG. HRS.</th>
                                <th class="text-center">REMARKS</th>
                                <th class="text-center">O.T. IN</th>
                                <th class="text-center">O.T. OUT</th>
                                <th class="text-center">O.T. TYPE</th>
                                <th class="text-center" width="8%">TOTAL O.T. HRS.</th>
                                <th class="text-center" width="10%">O.T APPROVED DATE</th>
                                <th class="text-center">TOTAL HRS.</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in summary" ng-class="{
                            'non_working': row.IsNonWorking == 1
                        }">
                            <td>
                                <i class="fa fa-2x fa-lock posted" aria-hidden="true" ng-if="row.IsPosted == 1"></i> &nbsp;{{row.Days | date: 'MM/dd/yyyy'}}
                            </td>
                            <td class="text-center">{{row.weekDays | uppercase}}</td>
                            <td class="text-center">{{row.TimeIn1 | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.TimeOut1 | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.TimeIn2 | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.TimeOut2 | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.TotalRegHrs}}</td>
                            <td class="text-center">{{row.Remarks}}</td>
                            <td class="text-center">{{row.overTimeIn | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.overTimeOut | date:'hh:mm:ss a'}}</td>
                            <td class="text-center">{{row.OTType}}</td>
                            <td class="text-center">{{row.TotalOTHrs}}</td>
                            <td class="text-center">{{row.overTimeApprovedDate | date:'MM/dd/yyyy'}}</td>
                            <td class="text-center">{{row.TotalHrs}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>