<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Timelog Entry</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtOldEmployee">Log Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="logs.LogDate" is-open="popup2.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" ng-disabled="IsDisable" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()" ng-disabled="IsDisable"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
                </p>
            </div>
            <div class="form-group">
                <label for="txtNewEmployee">Log Time</label>
                <div uib-timepicker ng-model="logs.LogDate" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>