<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Employment Status</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Employment Status" ng-keypress="($event.which === 13)?searchEmployment():0"
                    ng-change="(txtFind.length < 1)?searchEmployment():0">
                <span class="input-group-btn">
                                <button class="btn btn-default btn-lg"ng-click="searchEmployment()"><i class="fa fa-search"></i> Search</button>
                            </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tblEmploymentStatus" id="tblEmploymentStatus">
            <tr ng-repeat="row in $data">
                <td data-title="'Status Code'" class="text-center center-td">
                    {{row.StatusCode}}
                </td>
                <td data-title="'Status Name'">
                    {{row.Status}}
                </td>
                <td data-title="'Description'">
                    {{row.Description}}
                </td>
                <td data-title="'In-Active'">
                    {{row.InActive}}
                </td>
                <td style="width:100px; " data-title="'Actions'">
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateEmploymentStatus(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteEmploymentStatus(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>