<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employment Status Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtStatusCode">Status Code</label>
                    <input type="text" class="form-control" id="txtStatusCode" placeholder="Status Code" ng-model="employmentstatus.StatusCode">
                </div>
                <div class="form-group">
                    <label for="txtStatus">Status Name</label>
                    <input type="text" class="form-control" id="txtStatus" placeholder="Status Name" ng-model="employmentstatus.Status">
                </div>
                <div class="form-group">
                    <label for="txtStatusDesc">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtStatusDesc" ng-model="employmentstatus.Description"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="employmentstatus.InActive" ng-true-valu="1" ng-false-value="0" > In-Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>