<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Elementary School</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtElemSchool">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtElemSchool" ng-model="education.grade_school">
                </div>
                <div class="form-group">
                    <label for="txtElemAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtElemAddress" ng-model="education.grade_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtElemInclusive">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtElemInclusive" ng-model="education.grade_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtElemYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtElemYearGraduated" ng-model="education.grade_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtElemHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtElemHighestGrade" ng-model="education.graduated_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtElemAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtElemAwards" ng-model="education.grade_school_honors">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Secondary School</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtSecSchool">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtSecSchool" ng-model="education.secondary_school">
                </div>
                <div class="form-group">
                    <label for="txtSecAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtSecAddress" ng-model="education.secondary_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtSecInclusiveDate">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtSecInclusiveDate" ng-model="education.secondary_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtSecYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtSecYearGraduated" ng-model="education.secondary_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtSecHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtSecHighestGrade" ng-model="education.secondary_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtSecAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtSecAwards" ng-model="education.secondary_honors">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">College</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtCollegeSchool">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtCollegeSchool" ng-model="education.college_school">
                </div>
                <div class="form-group">
                    <label for="txtCollegeAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtCollegeAddress" ng-model="education.college_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtCollegeDegree">Degree/Course </label>
                    <textarea class="form-control input-sm" col="3" id="txtCollegeDegree" ng-model="education.college_school_course"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtCollegeInclusiveDate">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtCollegeInclusiveDate" ng-model="education.college_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtCollegeYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtCollegeYearGraduated" ng-model="education.college_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtCollegeHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtCollegeHighestGrade" ng-model="education.college_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtCollegeAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtCollegeAwards" ng-model="education.college_honors">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vocational / Trade Course</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtVocSchool">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtVocSchool" ng-model="education.vocational_school">
                </div>
                <div class="form-group">
                    <label for="txtVocAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtVocAddress" ng-model="education.vocational_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtVocDegree">Degree/Course </label>
                    <textarea class="form-control input-sm" col="3" id="txtVocDegree" ng-model="education.vocational_school_course"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtVocInclusiveDates">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtVocInclusiveDates" ng-model="education.vocational_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtVocYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtVocYearGraduated" ng-model="education.vocational_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtVocHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtVocHighestGrade" ng-model="education.vocational_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtVocAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtVocAwards" ng-model="education.vocational_honors">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Graduate Studies</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtGradSchool">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtGradSchool" ng-model="education.graduated_school">
                </div>
                <div class="form-group">
                    <label for="txtGradAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtGradAddress" ng-model="education.graduated_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtGradDegree">Degree/Course </label>
                    <textarea class="form-control input-sm" col="3" id="txtGradDegree" ng-model="education.graduated_school_course"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtGradInclusiveDates">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtGradInclusiveDates" ng-model="education.graduated_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtGradYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtGradYearGraduated" ng-model="education.graduated_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtGradHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtGradHighestGrade" ng-model="education.graduated_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtGradAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtGradAwards" ng-model="education.graduated_honors">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Graduate Studies - Doctoral Course</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtDocSchoolName">Name of School </label>
                    <input type="text" class="form-control input-sm" id="txtDocSchoolName" ng-model="education.doctorate_school">
                </div>
                <div class="form-group">
                    <label for="txtDocAddress">Address </label>
                    <textarea class="form-control input-sm" col="3" id="txtDocAddress" ng-model="education.doctorate_school_address"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtDocDegree">Degree/Course </label>
                    <textarea class="form-control input-sm" col="3" id="txtDocDegree" ng-model="education.doctorate_school_course"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtDocInclusiveDates">Inclusive Dates of Attendance </label>
                    <input type="text" class="form-control input-sm" id="txtDocInclusiveDates" ng-model="education.doctorate_school_inclusive_dates">
                </div>
                <div class="form-group">
                    <label for="txtDocYearGraduated">Year Graduated </label>
                    <input type="text" class="form-control input-sm" id="txtDocYearGraduated" ng-model="education.doctorate_school_year_graduated">
                </div>
                <div class="form-group">
                    <label for="txtDocHighestGrade">Highest Grade </label>
                    <input type="text" class="form-control input-sm" id="txtDocHighestGrade" ng-model="education.doctorate_highest_grade">
                </div>
                <div class="form-group">
                    <label for="txtDocAwards">Scholarship/ Academic Honors </label>
                    <input type="text" class="form-control input-sm" id="txtDocAwards" ng-model="education.doctorate_honors">
                </div>
            </div>
        </div>
    </div>
</div>