<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Father Information</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control input-sm" id="txtFLName" placeholder="Lastname" ng-model="employeeFamily.FatherLastName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control input-sm" id="txtFFName" placeholder="Firstname" ng-model="employeeFamily.FatherFirstName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Middle Name</label>
                        <input type="text" class="form-control input-sm" id="txtFMName" placeholder="Middlename" ng-model="employeeFamily.FatherMiddleName">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Occupation </label>
                        <input type="text" class="form-control input-sm" id="txtFOccupation" placeholder="Occupation" ng-model="employeeFamily.FatherOccupation">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company</label>
                        <input type="text" class="form-control input-sm" id="txtFCompany" placeholder="Company" ng-model="employeeFamily.FatherCompany">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company Address </label>
                        <input type="text" class="form-control input-sm" id="txtFCompanyAddress" placeholder="Company Address" ng-model="employeeFamily.FatherCompanyAddress">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Telephone No. </label>
                        <input type="text" class="form-control input-sm" id="txtFEmail" placeholder="Telephone No." ng-model="employeeFamily.FatherEmail">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email </label>
                        <input type="email" class="form-control input-sm" id="txtFTelNo" placeholder="Email Address" ng-model="employeeFamily.FatherTelNo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Mother Information</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control input-sm" id="txtMLName" placeholder="Lastname" ng-model="employeeFamily.MotherLastName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control input-sm" id="txtMFName" placeholder="Firstname" ng-model="employeeFamily.MotherFirstName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Middle Name</label>
                        <input type="text" class="form-control input-sm" id="txtMMName" placeholder="Middlename" ng-model="employeeFamily.MotherMiddleName">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Occupation </label>
                        <input type="text" class="form-control input-sm" id="txtMOccupation" placeholder="Occupation" ng-model="employeeFamily.MotherOccupation">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company</label>
                        <input type="text" class="form-control input-sm" id="txtMCompany" placeholder="Company" ng-model="employeeFamily.MotherCompany">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company Address </label>
                        <input type="text" class="form-control input-sm" id="txtMCompanyAddress" placeholder="Company Address" ng-model="employeeFamily.MotherCompanyAddress">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Telephone No. </label>
                        <input type="text" class="form-control input-sm" id="txtMTelNo" placeholder="Telephone No." ng-model="employeeFamily.MotherTelNo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email </label>
                        <input type="email" class="form-control input-sm" id="txtMEmail" placeholder="Email Address" ng-model="employeeFamily.MotherEmail">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Spouse Information</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control input-sm" id="txtFFName" placeholder="Lastname" ng-model="employeeFamily.SpouseLastName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control input-sm" id="txtFLName" placeholder="Firstname" ng-model="employeeFamily.SpouseFirstName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Middle Name</label>
                        <input type="text" class="form-control input-sm" id="txtFMName" placeholder="Middlename" ng-model="employeeFamily.SpouseMiddleName">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtSAddress">Address </label>
                        <textarea class="form-control input-sm" col="3" id="txtSAddress" ng-model="employeeFamily.SpouseAddress"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Telephone No. </label>
                        <input type="text" class="form-control input-sm" id="txtSTelNo" placeholder="Telephone No." ng-model="employeeFamily.SpouseTelNo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email </label>
                        <input type="email" class="form-control input-sm" id="txtSEmail" placeholder="Email" ng-model="employeeFamily.SpouseEmail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Occupation </label>
                        <input type="text" class="form-control input-sm" id="txtSOccupation" placeholder="Occupation" ng-model="employeeFamily.SpouseOccupation">
                    </div>
                    <div class="form-group">
                        <label for="txtSCompany">Company </label>
                        <input type="text" class="form-control input-sm" id="txtSCompany" placeholder="Company" ng-model="employeeFamily.SpouseCompany">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company Address </label>
                        <input type="text" class="form-control input-sm" id="txtSCompanyAddress" placeholder="Company Address" ng-model="employeeFamily.SpouseCompanyAddress">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Business Name </label>
                        <input type="text" class="form-control input-sm" id="txtEmpBusinessName" placeholder="Business Name" ng-model="employeeFamily.SpouseBusiness">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Employer Name </label>
                        <input type="text" class="form-control input-sm" id="txtFTelNo" placeholder="Employer Name" ng-model="employeeFamily.SpouseEmployer">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Employer Tel. No. </label>
                        <input type="text" class="form-control input-sm" id="txtFTelNo" placeholder="Employer Tel. No." ng-model="employeeFamily.SpouseBusTelNo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Children Information</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button class="btn btn-default" uib-tooltip="Insert" ng-click="insertEmployeeChildren()" ng-disabled="IsDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Insert</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tblChildren">
                        <thead>
                            <tr>
                                <th>Fullname</th>
                                <th>Date of Birth</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in employeeChildren">
                            <td>{{row.ec_name}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td class="text-center center-td" width="5%">
                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteEmployeeChildren(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Emergency Contact Information</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact</label>
                        <input type="text" class="form-control input-sm" id="txtMLName" placeholder="Contact Name" ng-model="employeeFamily.EmergencyContactPerson">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <textarea class="form-control input-sm" col="3" ng-model="employeeFamily.EmergencyAddress"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Mobile No.</label>
                        <input type="text" class="form-control input-sm" id="txtMMName" placeholder="Mobile No." ng-model="employeeFamily.EmergencyMobileNo">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Telephone No.</label>
                        <input type="text" class="form-control input-sm" id="txtMMName" placeholder="Telephone No." ng-model="employeeFamily.EmergencyTelNo">
                    </div>
                    <div class="form-group col-md-4">
                        <button class="btn btn-default btn-lg" ng-disabled="IsDisabled">Copy <br>Father</button>
                        <button class="btn btn-default btn-lg" ng-disabled="IsDisabled">Copy <br>Mother</button>
                        <button class="btn btn-default btn-lg" ng-disabled="IsDisabled">Copy <br>Spouse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>