<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee Overtime Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group form-group-sm col-md-6">
                    <label for="exampleInputEmail1">O.T. Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="overtime.InclusiveDates" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">O.T. Type</label>
                    <select class="form-control input-sm" ng-model="overtime.OTType" ng-options="item as item.OTTypeCode for item in overtimeTypes track by item.OTYPEID"></select>
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Project / Task</label>
                    <input type="text" class="form-control input-sm" id="txtEmail" placeholder="Project/Task" ng-model="overtime.Project">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtRemarks">Details / Reasons</label>
                    <textarea class="form-control input-sm" col="3" id="txtRemarks" ng-model="overtime.Remarks"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtOldEmployee">O.T. Requestor</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="overtime.Requestor.employee_name" placeholder="Select Employee" readonly="true">
                        <span class="input-group-btn">
                        <a class="btn btn-primary" ng-click="frmEmployeePicker()"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Insert</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>