<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Application Settings</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Program Settings">
                    <ng-include src="'./public/hris/templates/tools/appsettings/partials/program.html'"></ng-include>
                </uib-tab>
                <uib-tab index="1" heading="Payroll Settings">
                    <ng-include src="'./public/hris/templates/tools/appsettings/partials/payroll.html'"></ng-include>
                </uib-tab>
                <uib-tab index="2" heading="Income Account Settings">
                    <ng-include src="'./public/hris/templates/tools/appsettings/partials/iaccount.html'"></ng-include>
                </uib-tab>
                <uib-tab index="3" heading="Deduction Account Settings">
                    <ng-include src="'./public/hris/templates/tools/appsettings/partials/daccount.html'"></ng-include>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>