<div class="row main">
    <h1 class="page-header">PhilHealth Table</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click="saveEntry()" ng-disabled="IsDisable"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        
       <div style="width:500px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Accounts" ng-keypress="($event.which === 13)?searchPhilHealth():0"
                    ng-change="(txtFind.length < 1)?searchPhilHealth():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchPhilHealth()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtPeriodCode">PHIC Code</label>
                            <input type="text" class="form-control input-sm" id="txtPeriodCode" placeholder="Period Code" ng-model="phic.PH_Code" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="txtPeriodCode">PHIC Name</label>
                            <input type="text" class="form-control input-sm" id="txtPeriodCode" placeholder="Period Code" ng-model="phic.PH_Name" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="txtPeriodCode">PHIC Description</label>
                            <textarea class="form-control input-sm" col="3" id="txtDesc" ng-model="phic.PH_Description" ng-disabled="IsDisable"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="phic.Inactive" ng-true-value="1" ng-false-value="0"> In-Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" ng-table="tableParams" id="tblChildren">
                                        <tr ng-repeat="row in $data">
                                            <td data-title="'PHIC CODE'">{{row.PH_Code}}</td>
                                            <td class="text-center" data-title="'PHIC NAME'">{{row.PH_Name}}</td>
                                            <td class="text-center" data-title="'DESCRIPTION'">{{row.PH_Description}}</td>
                                           <td class="text-center" data-title="'STATUS'">
                                                <i class="fa fa-check-square-o" aria-hidden="true"  ng-model="row.Inactive" ng-if="row.Inactive == 1"></i>
                                                <i class="fa fa-square-o" aria-hidden="true"  ng-model="row.Inactive" ng-if="row.Inactive == 0"></i>
                                            </td>
                                            <td data-title="'Actions'" <td class="text-center" width="15%">

                                                <button class="btn btn-default btn-sm" uib-tooltip="View" ng-click="viewPhic(row.UUID)"><i class="fa fa-list" aria-hidden="true"></i></button>
                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updatePhic(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deletePHTable(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>