<div class="col-sm-3 col-md-2 sidebar">
    <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="branches" data-node-id="tree_id" data-node-label="tree_name"
        data-node-children="departments">
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Employee Masterlist</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <a class="btn btn-default btn-sm" ng-click="printData();"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="txtSearch.text" placeholder="Search..." ng-keypress="($event.which === 13)?searchData():0"
                    ng-change="(txtSearch.length < 1)?searchData():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" ng-click="searchData()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
            <tr ng-repeat="row in $data" ng-dblclick="setSelectedItem(row)" ng-class="{selected: row.selected}">
                <td data-title="''" class="text-center center-td">
                    <img ng-src="{{row.Photo}}" err-src="http://placehold.it/250x250" alt="" class="img-thumbnail" style="width: 65px;">
                </td>
                <td data-title="'Employee ID'" class="text-center center-td">
                    {{row.e_idno}}
                </td>
                <td data-title="'Device No'" class="text-center center-td">
                    {{row.device_no}}
                </td>
                <td data-title="'Last Name'" class="text-center center-td">
                    {{row.e_lname}}
                </td>
                <td data-title="'First Name'" class="text-center center-td">
                    {{row.e_fname}}
                </td>
                <td data-title="'Middle Name'" class="text-center center-td">
                    {{row.e_mname}}
                </td>
                <td data-title="'Suffix'" class="text-center center-td">
                    {{row.e_suffix}}
                </td>
                <td data-title="'Gender'" class="text-center center-td">
                    {{row.e_gender}}
                </td>
                <td data-title="'Civil Status'" class="text-center center-td">
                    {{row.cs_name}}
                </td>
                <td data-title="'Branch'" class="text-center center-td">
                    {{row.branch_name}}
                </td>
                <td data-title="'Division'" class="text-center center-td">
                    {{row.div_name}}
                </td>
                <td data-title="'Department'" class="text-center center-td">
                    {{row.d_name}}
                </td>
                <td data-title="'Job Position'" class="text-center center-td">
                    {{row.jt_name}}
                </td>
                <td data-title="'Status'" class="text-center center-td">
                    {{row.Status}}
                </td>
                <!-- <td data-title="'In-Active'">
                    {{row.InActive}}
                </td>
                <td data-title="'Retired'">
                    {{row.IsRetired}}
                </td>
                <td data-title="'Resigned'">
                    {{row.IsResigned}}
                </td> -->
        </table>
    </div>
</div>