<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="hris">
<head>
    <meta charset="utf-8">
    <title>HRIS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/POSlogo.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/themes/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="public/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">
    <link href="public/bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
    <link href="public/bower_components/ngActivityIndicator/css/ngActivityIndicator.min.css" rel="stylesheet">
    <link href="public/bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="public/bower_components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet">
    <link href="public/bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="public/bower_components/ui-select/dist/select.css" rel="stylesheet">
    <link href="public/bower_components/angular.treeview/css/angular.treeview.css" rel="stylesheet">
    <link href="public/bower_components/ng-img-crop/compile/minified/ng-img-crop.css" rel="stylesheet">
    <link href="public/bower_components/angularPrint/angularPrint.css" rel="stylesheet" media="print">
    <link href="public/hris/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Non Angular -->
    <script type="text/javascript" src="public/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/bower_components/async/dist/async.min.js"></script>
    <script type="text/javascript" src="public/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="public/bower_components/cryptojslib/rollups/md5.js"></script>
    <script type="text/javascript" src="public/bower_components/cryptojslib/components/enc-base64-min.js"></script>
    <!-- Angular JS -->
    <script type="text/javascript" src="public/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="public/bower_components/ngDialog/js/ngDialog.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ui-select/dist/select.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ngActivityIndicator/ngActivityIndicator.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-moment/angular-moment.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="public/bower_components/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular.treeview/angular.treeview.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script type="text/javascript" src="public/bower_components/angularPrint/angularPrint.js"></script>
    <!-- Angular Module -->
    <script src="public/hris/js/app.js"></script>
    <script src="public/hris/js/app.config.js"></script>
    <script src="public/hris/js/app.run.js"></script>
    <script src="public/hris/js/app.constant.js"></script>
    <!-- Angular Controller -->
    <script src="public/hris/templates/main.js"></script>
    <script src="public/hris/templates/auth/auth.js"></script>
    <script src="public/hris/templates/humanresource/masterlist/employees.js"></script>
    <script src="public/hris/templates/humanresource/masterlist/picker.js"></script>
    <script src="public/hris/templates/humanresource/masterlist/print.js"></script>
    <script src="public/hris/templates/humanresource/employee/employee.js"></script>
    <script src="public/hris/templates/humanresource/employee/employee2.js"></script>
    <script src="public/hris/templates/humanresource/employee/employeeprofile/employeeprofile.js"></script>
    <script src="public/hris/templates/humanresource/employee/employeeprofile/fingerprint.js"></script>
    <script src="public/hris/templates/humanresource/employeeID/employeeID.js"></script>
    <script src="public/hris/templates/humanresource/employeepicture/upload.js"></script>
    <script src="public/hris/templates/humanresource/workschedule/workschedules.js"></script>
    <script src="public/hris/templates/attendance/DTR/dailytimerecord.js"></script>
    <script src="public/hris/templates/attendance/DTR/payrolloption.js"></script>
    <script src="public/hris/templates/attendance/DTR/attendance.settings.js"></script>
    <script src="public/hris/templates/attendance/DTR/timelogs.js"></script>
    <script src="public/hris/templates/attendance/DTR/dtr.attendance.js"></script>
    <script src="public/hris/templates/attendance/Overtime/overtime.js"></script>
    <script src="public/hris/templates/attendance/Overtime/overtime.list.js"></script>
    <script src="public/hris/templates/attendance/Overtime/overtime.modal.js"></script>
    <script src="public/hris/templates/payroll/payrollsetup/setup.js"></script>
    <script src="public/hris/templates/payroll/manual/manual.js"></script>
    <script src="public/hris/templates/payroll/listpayroll/payroll.js"></script>
    <script src="public/hris/templates/payroll/general/general.js"></script>
    <script src="public/hris/templates/setupmanager/branch/branches.js"></script>
    <script src="public/hris/templates/setupmanager/division/divisions.js"></script>
    <script src="public/hris/templates/setupmanager/department/departments.js"></script>
    <script src="public/hris/templates/setupmanager/jobtitle/jobtitles.js"></script>
    <script src="public/hris/templates/setupmanager/employmenttype/type.js"></script>
    <script src="public/hris/templates/setupmanager/nationality/nationality.js"></script>
    <script src="public/hris/templates/setupmanager/religion/religions.js"></script>
    <script src="public/hris/templates/setupmanager/company/company.js"></script>
    <script src="public/hris/templates/setupmanager/civilstatus/civilstatus.js"></script>
    <script src="public/hris/templates/tools/appsettings/appsettings.js"></script>
    <script src="public/hris/templates/tools/appsettings/appsettings.modal.js"></script>
    <script src="public/hris/templates/tools/useraccounts/users.js"></script>
    <script src="public/hris/templates/tools/useraccounts/user.js"></script>
    <script src="public/hris/templates/tools/useraccounts/usergroups.js"></script>
    <script src="public/hris/templates/tools/useraccounts/access.js"></script>
    <script src="public/hris/templates/tools/useraccounts/group.access.js"></script>
    <script src="public/hris/templates/accounting/chartsofaccounts/accounts.js"></script>
    <script src="public/hris/templates/accounting/pickaccount.modal.js"></script>
    <script src="public/hris/templates/accounting/sss/sss.js"></script>
    <script src="public/hris/templates/accounting/phic/phic.js"></script>
    <script src="public/hris/templates/accounting/hdmf/hdmf.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.detail.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.modal.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.ceiling.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.percent.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxtable/tax.rate.js"></script>
    <script src="public/hris/templates/accounting/wtax/taxexemption/taxexemption.js"></script>
    <script src="public/hris/templates/profile/profile.js"></script>
    <!-- Angular Directives -->
    <script src="public/hris/js/directives/headers/header.js"></script>
    <script src="public/hris/js/directives/sidebar/sidebar.js"></script>
    <script src="public/hris/js/directives/directive.js"></script>
    <!-- Angular Services -->
    <script src="public/hris/js/services/services.js"></script>
    <script src="public/hris/js/services/accounts.js"></script>
     <script src="public/hris/js/services/company.js"></script>
    <script src="public/hris/js/services/employee.js"></script>
    <script src="public/hris/js/services/civilstatus.js"></script>
    <script src="public/hris/js/services/employmentstatus.js"></script>
    <script src="public/hris/js/services/branch.js"></script>
    <script src="public/hris/js/services/divisions.js"></script>
     <script src="public/hris/js/services/tax.js"></script>
    <script src="public/hris/js/services/taxexemption.js"></script>
    <script src="public/hris/js/services/departments.js"></script>
    <script src="public/hris/js/services/jobposition.js"></script>
    <script src="public/hris/js/services/payroll.js"></script>
    <script src="public/hris/js/services/misc.js"></script>
    <script src="public/hris/js/services/auth.js"></script>
    <script src="public/hris/js/services/nationality.js"></script>
    <script src="public/hris/js/services/religion.js"></script>
    <script src="public/hris/js/services/Base64.js"></script>
    <script src="public/hris/js/services/workschedules.js"></script>
    <script src="public/hris/js/services/sss.js"></script>
    <script src="public/hris/js/services/phic.js"></script>
    <script src="public/hris/js/services/hdmf.js"></script>
    <script src="public/hris/js/services/attendance.js"></script>
    <script src="public/hris/js/services/appsettings.js"></script>
    <script src="public/hris/js/services/interceptor.js"></script>
    <script src="public/hris/js/services/users.js"></script>
    <!-- Angular Filters -->
    <script src="public/hris/js/filters.js"></script>
    <!--
        *
        *
        *
        Angular Views
        *
        *
        *
        -->
    <div data-ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
</body>
</html>
