<div class="col-sm-12 col-md-12 col-lg-12 main print">
    <div class="page-action-buttons" print-hide>
        <a class="btn btn-default btn-sm" onclick="window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        <button class="btn btn-success btn-sm" ng-click="Refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <a class="btn btn-default btn-sm" print-btn><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <!--  Total Data To Be Printed: <input ng-model="totalData"> -->
    </div>
    <br>
    <div print-section>
        <!--    <center >CHARTS OF ACCOUNTS</center> -->
        <div class="row">
            <div class="col-xs-12">
                <h2>
           <img  ng-src="{{profileImage}}" err-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROsYr-Eu1pqfZnJmmYMyDM8vzE3fz2E5bGJCtg8LBZ6vQLl-XEQg" style="width:250px;">
       {{company.ci_name}}
           <br>
           <small style="font-size: 16px;
    margin-left: 260px;
    position: absolute;
    margin-top: -40px;">{{company.ci_streetadd}} {{company.ci_city}} {{company.ci_provincialadd}} {{company.ci_zipcode}}</small>
        </h2>
            </div>
        </div>
        <p>SSS Contribution</p>
        <p>{{ss.SSSName}}</p>
        <p>{{ss.SSSCode}}</p>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped" ng-table="tableSSSData">
                    <thead>
                        <tr>
                            <th>Monthly Credit</th>
                            <th>Bracket From</th>
                            <th>Bracket To</th>
                            <th>Share (Employee)</th>
                            <th>Share (Employer)</th>
                            <th>ECC</th>
                            <th>Over</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $data">
                            <td>{{row.sb_monthly_credit}}</td>
                            <td>{{row.sb_from}}</td>
                            <td>{{row.sb_to}}</td>
                            <td>{{row.sb_employee_contrib}}</td>
                            <td>{{row.sb_employer_contrib}}</td>
                            <td>{{row.sb_emergency_contrib}}</td>
                            <td>{{row.over}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>