<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Social Security System Bracket Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group col-md-6">
                    <label for="txtPosCode">Montly Credit</label>
                    <input type="number" class="form-control" id="txtBracketFrom" placeholder="BracketFrom" ng-model="sssdat.sb_monthly_credit">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosTitle">Bracket From</label>
                    <input type="number" class="form-control" id="txtAccountName" placeholder="Bracket To" ng-model="sssdat.sb_from">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Bracket To</label>
                    <input type="number" class="form-control" id="txtEmployeeShate" placeholder="Employee Share" ng-model="sssdat.sb_to">
                </div>

                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Employee Share</label>
                    <input type="number" class="form-control" id="txtEmployerShare" placeholder="Employer Share" ng-model="sssdat.sb_employee_contrib ">
                </div>
                 <div class="form-group col-md-6">
                    <label for="txtPosShortName">Employer Share</label>
                    <input type="number" class="form-control" id="txtEmployerShare" placeholder="Employer Share" ng-model="sssdat.sb_employer_contrib">
                </div>

                 <div class="form-group col-md-6">
                    <label for="txtPosShortName">ECC</label>
                    <input type="number" class="form-control" id="txtSalarybase" placeholder="Salarybase" ng-model="sssdat.sb_emergency_contrib">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPosShortName">Over</label>
                    <input type="number" class="form-control" id="txtOver" placeholder="Over" ng-model="sssdat.over">
                </div>
            
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveSSDetails()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>