<div class="modal-header">
</div>
<div class="modal-body" id="modal-body">
    <div class="text-center">
        <img src="http://www.4loop.ph/new/wp-content/themes/fourloop/assets/images/4loopLogoYD.svg" style="width: 25%;"></a>
    </div>
    <ul style="margin-top:25px;">
        <li>Developer: <a href="http://www.4loop.ph/" target="_blank">4LOOP Inc.</a></li>
        <li>Written in: <b>MEAN</b> Stack (HTML, CSS, Javascript)</li>
        <li>Working state: Publicly released</li>
        <li>Source model: Closed / Shared source</li>
        <li>Initial release: August 20, 2013; 4 years ago, as Windows Form .NET Framework</li>
        <li>Marketing target: Inhouse Computing</li>
        <li>Supported platforms: Mac OSX, Windows, Linux</li>
        <li>Default user interface: Web Browser</li>
        <li><i class="fa fa-external-link"></i> Official website: <a href="http://www.4loop.ph/" target="_blank">www.4loop.ph</a></li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>